/*-------------------------------------------------------------------------------------------------|

    BANNER
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

/*
    Banner
*/
#{$es__page_banner} {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin: 0;

    padding: $s__sz-s $s__sz-s $s__sz-xs $s__sz-s;

    color: $e__banner--base-text-color;
    background: $e__banner--background-color;
}

#{$es__page_banner} > * {
    flex: 0 0 auto;
}


/*------------------------------------------------------------------------------------------------*/

@import '1-banner/_1-logo.scss';
@import '1-banner/_2-navbar.scss';
