/*-------------------------------------------------------------------------------------------------|

    BANNER
    ======

|-------------------------------------------------------------------------------------------------*/


/*
    Banner
*/
#{$es__page_banner} {
    padding: $f__sz-s $f__sz-s $f__sz-xs $f__sz-s;
    margin: 0;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#{$es__page_banner} > * {
    flex: 0 0 auto;
}


/*------------------------------------------------------------------------------------------------*/

@import '1-banner/_1-logo.scss';
@import '1-banner/_2-navbar.scss';
