/*-------------------------------------------------------------------------------------------------|

    MAIN
    ====

|-------------------------------------------------------------------------------------------------*/

/*
    Expand main to fill space - part of stick footer.
*/
#{$es__page_main} {
    min-height: 0;
    flex: 1 0 auto;
            
    max-width: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*------------------------------------------------------------------------------------------------*/

@import '2-main/_1-header.scss';
@import '2-main/_2-breadcrumbs.scss';
@import '2-main/_3-content.scss';
//@import '2-main/_3-content-balancing.scss';
@import '2-main/_3-content-listing.scss';
@import '2-main/_4-content-sidebar.scss';
@import '2-main/_5-content-footer.scss';
