/*-------------------------------------------------------------------------------------------------|

    FOOTER
    ======

|-------------------------------------------------------------------------------------------------*/

#{$es__page_footer} {
    margin: 0;
    padding: $f__sz-s;
    
    font-size: 0.875em;
    text-align: center;
}

#{$es__page_footer} > * {
    margin-bottom: 0;
}