/* StartCSS/scss/_start-config.scss */

@use "sass:map";


$startcss-defaults: (
    /* BASE */
    "base": (
        "namespace": "html[lang] "
    ),

    /* TOKENS */
    "tokens": (
        "base-font-family": ("Lato", sans-serif),
        "monospace-font-family": monospace,

        "base-font-size": 16px,
        "base-font-unit": 10px,
        "base-space-unit": 24px,

        "base-background-color": #fff,
        "base-text-color-inverse": #fff,
        "base-text-color": #333,
        "base-ui-color": #d0ba98,
    ),

    /* FLAGS */
    "flags": (
        "anchor-add-external-link-indicator": true,
        "experimental_checkradios": true,
        "experimental": false,
        "figure-scroll": true,
        "margin-type": default,
        "space-dl-groups": false,
        "use-focus-shadow": true,
        "use-layout": false,
        "zero-header-hx-margin": false,
    ),

    /* UI */
    "ui": (
        "ui-padding-block": null,
        "ui-padding-inline": null,

        "ui-chroma-scale-dark": 0.80,
        "ui-chroma-scale-light": 0.23,
        "ui-tone-dark": 0.18,
        "ui-tone-light": 0.3,

        "border-color": rgba(0, 0, 0, 0.2),
        "border-radius": 0.3rem,
        "border-style": solid,
        "border-width": 0.1rem,

        "selection-background-color": null,
        "selection-text-shadow": none,

        "target-highlight-color-a": null,
        "target-highlight-color-b": null,

        "scroll-margin-top": null,

        "tab-size": 4,

        "quotes": '\201c' '\201d' '\2018' '\2019',

        "outline-shadow": (0 0 0 0.1rem white, 0 0 0 0.2rem black),
    ),

    /* ELEMENTS */
    "elements": (
        /* ROOT */
        /*
        The following fluid root font-size idea was nice but given the accessiblity requirement that
        users need to be ableto set their own base font size, it wasn't possible to get this working
        properly without using JS.
        https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport

        $root-font-size: clamp(
            0.625em,
            calc(1.302vw + 0.583em),
            0.75em
        );

        For now I've gone back setting it down to 10px via em sizing, but will investigate using
        Media Queries to tweak the CSS Vars for better readability on desktop/mobile devices at a
        later stage.
        */
        "root-font-size": 0.625em,

        /* BODY */
        "body-font-size": null,
        "body-margin": 0 auto,
        "body-max-width": 60em,
        "body-min-width": 250px,
        "body-padding": null,


        /* SHARED */
        "list-indent": null,
        "media-element-vertical-align": middle,


        /* ANCHOR */
        "anchor-external-link-indicator-padding": 1em,
        "anchor-image-line-style": null,
        "anchor-image-line-style--alt": null,
        "anchor-image-line-width": 0.1875em,
        "anchor-image-line-width--alt": null,
        "anchor-image-padding-bottom": 0,
        "anchor-image-padding-bottom--alt": 0,
        "anchor-line-style": dashed,
        "anchor-line-style--alt": solid,
        "anchor-line-width": 0.0625em,
        "anchor-line-width--alt": null,
        "anchor-text-color": null,
        "anchor-text-color--alt": null,


        /* BLOCKQUOTE */

        "blockquote-padding-inline": null,


        /* BUTTON */
        "button-background-color": null,
        "button-background-color--alt": null,
        "button-border-color": null,
        "button-border-radius": null,
        "button-border-style": null,
        "button-border-width": null,
        "button-min-height": null,
        "button-padding-block": null,
        "button-padding-inline": null,


        /* CAPTION */
        "caption-background-color": null,
        "caption-padding": null,


        /* DETAILS */
        "details-border-width": null,
        "details-padding": null,


        /* FIELDSET */
        "fieldset-border-width": null,
        "fieldset-padding": null,


        /* FOOTER */
        "footer-padding": null,


        /* HEADINGS */
        "heading-scale": 1.25,

        "h1-font-size": null,
        "h2-font-size": null,
        "h3-font-size": null,
        "h4-font-size": null,
        "h5-font-size": null,
        "h6-font-size": null,


        /* HEADER */
        "header-padding": null,


        /* HR */
        "hr-border-color": null,
        "hr-border-style": null,
        "hr-border-width": null,


        /* INPUT */
        "input-background-color": #fff,
        "input-background-color--state-1": null,
        "input-border-color": null,
        "input-border-radius": null,
        "input-border-style": null,
        "input-border-width": null,
        "input-file-max-width": 18.5em,
        "input-min-height": null,
        "input-padding-inline": null,


        /* LABEL */
        "label-padding-block": null,


        /* LEGEND */
        "legend-border-width": 0,
        "legend-padding-inline": null,


        /* MAIN */
        "main-background-color": null,
        "main-padding": null,


        /* MARK */
        "mark-background-color": null,
        "mark-text-color": null,


        /* OPTGROUP */
        "optgroup-background-color": null,
        "optgroup-label-background-color": null,


        /* OPTION */
        "option-background-color": #fff,
        "option-background-color-state-1": null,
        "option-background-color-state-2": null,
        "option-padding-inline": null,


        /* PRE */
        "pre-background-color": null,
        /*"pre-margin-bottom": null,
        "pre-padding-bottom": null,
        "pre-margin-bottom--edge": null,
        "pre-margin-bottom--ff": null,
        "pre-code-padding": null,
        "pre-code-line-height": null,*/


        /* SELECT */
        "select-background-color": #fff,
        "select-border-color": null,
        "select-border-radius": null,
        "select-border-style": null,
        "select-border-width": null,
        "select-padding-inline-start": null,
        "select-padding-inline-end": null,


        /* SMALL */
        "small-font-size": 81.25%,


        /* TABLE */
        "table-background-color": #fff,
        "table-border-color": null,
        "table-border-style": null,
        "table-border-width": null,


        /* TD */
        "td-background-color": #fff,
        "td-border-color": null,
        "td-border-style": null,
        "td-border-width": null,
        "td-padding": null,


        /* TEXTAREA */
        "textarea-background-color": #fff,
        "textarea-border-color": null,
        "textarea-border-radius": null,
        "textarea-border-style": null,
        "textarea-border-width": null,
        "textarea-padding-inline": null,
        "textarea-resize": vertical,


        /* TH */
        "th-background-color": #fff,
        "th-border-color": null,
        "th-border-style": null,
        "th-border-width": null,
        "th-padding": null,


        /* VIDEO */
        "video-background-color": #333,
    ),
) !default;

$startcss-overrides: () !default;

/*
Historically I may have used the following derived tokens in other projects so for now keep these
calculations available in these comments in case I need to refer back to them in the future:

// Not sure if these are really needed beyond math checks:
"base-em-ratio": math.div(
    map.get($tokens, "base-space-unit"),
    map.get($tokens, "base-font-size")
),

"base-rem-1px": math.div(
    1px,
    map.get($tokens, "base-font-size")
) * 1rem,

"base-em-1px": math.div(
    1px,
    map.get($tokens, "base-font-size")
) * 1em,

"mq-1-em-px": 0.0625em,
*/


$startcss-config: map.deep-merge(
    $startcss-defaults,
    $startcss-overrides
);


@function base($name) {
    @return map.get($startcss-config, "base", $name);
}

@function flags($name) {
    @return map.get($startcss-config, "flags", $name);
}

@function tokens($name) {
    @return map.get($startcss-config, "tokens", $name);
}

@function ui($name) {
    @return map.get($startcss-config, "ui", $name);
}

@function elements($name) {
    @return map.get($startcss-config, "elements", $name);
}


/*
    Return true when a value was explicitly supplied through $startcss-overrides.

    This is primarily useful to the token layer when a public property has a broader
    default that should cascade down into a more specific property.

    For example:

        --border-width
            ↓
        --table-border-width
            ↓
        --td-border-width

    If the user has explicitly configured `td-border-width` in Sass, the token layer
    should emit that value instead of the inherited table value.
*/
@function overridden($group, $name) {
    //@return _was-overridden($group, $name);
    $overrides: map.get($startcss-overrides, $group);

    @if $overrides != null and map.has-key($overrides, $name) {
        @return true;
    }

    @return false;
}
