/*-------------------------------------------------------------------------------------------------|

    START-CSS TOKENS
    ============================================================================================

    Assign custom properties to :root.
    These are the thing StartCSS provides to make it useful, it's not a definitive catelogue.
    The values set here can be overridden using SASS (config overrides) or in CSS as :root variable
    overrides without having to re-specify each selector. However, if you want to Add styles then
    this should be done in the usual way (by specifying the selectors and declarations).

|-------------------------------------------------------------------------------------------------*/


@use "sass:math";
@use "start-config" as cfg;

@property --background-color {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
}

@mixin emit() {
    :root {
        /*
            CORE SPACING
        */
        --base-rem-space-unit: #{math.div(
            cfg.tokens("base-space-unit"),
            cfg.tokens("base-font-unit")
        ) * 1rem};


        /*
            SIZES
        */
        --sz-xxs: #{'calc(var(--base-rem-space-unit) / 8)'};
        --sz-xs: #{'calc(var(--base-rem-space-unit) / 4)'};
        --sz-s: #{'calc(var(--base-rem-space-unit) / 2)'};
        --sz-m: var(--base-rem-space-unit);
        --sz-l: #{'calc(var(--base-rem-space-unit) * 2)'};
        --sz-xl: #{'calc(var(--base-rem-space-unit) * 4)'};
        --sz-xxl: #{'calc(var(--base-rem-space-unit) * 8)'};


        /*
            SHARED SIZING / SHORTCUTS
        */
        @if cfg.overridden("elements", "list-indent") {
            --list-indent: #{cfg.elements("list-indent")};
        } @else {
            --list-indent: #{'calc(var(--sz-m) * 1.5)'};
        }
        @if cfg.overridden("ui", "ui-padding-block") {
            --ui-padding-block: #{cfg.ui("ui-padding-block")};
        } @else {
            --ui-padding-block: var(--sz-xxs);
        }
        @if cfg.overridden("ui", "ui-padding-inline") {
            --ui-padding-inline: #{cfg.ui("ui-padding-inline")};
        } @else {
            --ui-padding-inline: var(--sz-xs);
        }

        // Global margin shortcut:
        --m: var(--sz-m);


        /*
            CORE TYPOGRAPHY
        */
        --base-font-family: #{cfg.tokens("base-font-family")};
        --monospace-font-family: #{cfg.tokens("monospace-font-family")};

        --root-font-size: #{cfg.elements("root-font-size")};
        --root-line-height: var(--base-rem-space-unit);
        @if cfg.overridden("elements", "body-font-size") {
            --body-font-size: #{cfg.elements("body-font-size")};
        } @else {
            --body-font-size: #{math.div(cfg.tokens("base-font-size"), cfg.tokens("base-font-unit")) * 1rem};
        }
        --small-font-size: #{cfg.elements("small-font-size")};


        /*
            CORE COLOURS
        */
        --base-ui-color: #{cfg.tokens("base-ui-color")};

        --ui-chroma-scale-dark:  #{cfg.ui("ui-chroma-scale-dark")};
        --ui-chroma-scale-light: #{cfg.ui("ui-chroma-scale-light")};
        --ui-tone-dark:  #{cfg.ui("ui-tone-dark")};
        --ui-tone-light: #{cfg.ui("ui-tone-light")};

        /* Light side */
        --base-ui-color-lightest: oklch(
            from var(--base-ui-color)
            #{'calc(min(1, l + (1 - l) * (var(--ui-tone-light) * 3)))'}
            #{'calc(c * (var(--ui-chroma-scale-light) * 0.8))'}
            h
        );

        --base-ui-color-lighter: oklch(
            from var(--base-ui-color)
            #{'calc(min(1, l + (1 - l) * (var(--ui-tone-light) * 2)))'}
            #{'calc(c * (var(--ui-chroma-scale-light) * 1.0))'}
            h
        );

        --base-ui-color-light: oklch(
            from var(--base-ui-color)
            #{'calc(min(1, l + (1 - l) * (var(--ui-tone-light) * 1)))'}
            #{'calc(c * (var(--ui-chroma-scale-light) * 1.2))'}
            h
        );

        /* Dark side */
        --base-ui-color-dark: oklch(
            from var(--base-ui-color)
            #{'calc(max(0, l - l * (var(--ui-tone-dark) * 1)))'}
            #{'calc(c * (var(--ui-chroma-scale-dark) * 1.0))'}
            h
        );

        --base-ui-color-darker: oklch(
            from var(--base-ui-color)
            #{'calc(max(0, l - l * (var(--ui-tone-dark) * 2)))'}
            #{'calc(c * (var(--ui-chroma-scale-dark) * 0.9))'}
            h
        );

        --base-ui-color-darkest: oklch(
            from var(--base-ui-color)
            #{'calc(max(0, l - l * (var(--ui-tone-dark) * 3)))'}
            #{'calc(c * (var(--ui-chroma-scale-dark) * 0.8))'}
            h
        );

        --base-background-color: #{cfg.tokens("base-background-color")};
        --base-text-color: #{cfg.tokens("base-text-color")};
        --base-text-color-inverse: #{cfg.tokens("base-text-color-inverse")};

        --background-color: var(--base-background-color);
        --color: var(--base-text-color);
        --color--inverse: var(--base-text-color-inverse);
        --base-ui-color--text: var(--color--inverse);


        /*
            CORE UI
        */
        --base-border-color: #{cfg.ui("border-color")};
        --base-border-radius: #{cfg.ui("border-radius")};
        --base-border-style: #{cfg.ui("border-style")};
        --base-border-width: #{cfg.ui("border-width")};

        --outline-shadow: #{cfg.ui("outline-shadow")};


        /*
            GLOBAL BEHAVIOUR
        */
        @if cfg.overridden("ui", "selection-background-color") {
            --selection-background-color: #{cfg.ui("selection-background-color")};
        } @else {
            --selection-background-color: var(--base-ui-color-dark);
        }

        --selection-text-shadow: #{cfg.ui("selection-text-shadow")};

        @if cfg.overridden("ui", "target-highlight-color-a") {
            --target-highlight-color-a: #{cfg.ui("target-highlight-color-a")};
        } @else {
            --target-highlight-color-a: oklch(from var(--base-ui-color-light) l c h / 0.4);
        }

        @if cfg.overridden("ui", "target-highlight-color-b") {
            --target-highlight-color-b: #{cfg.ui("target-highlight-color-b")};
        } @else {
            --target-highlight-color-b: oklch(from var(--base-ui-color-light) l c h / 0);
        }

        @if cfg.overridden("ui", "scroll-margin-top") {
            --scroll-margin-top: #{cfg.ui("scroll-margin-top")};
        } @else {
            --scroll-margin-top: var(--sz-l);
        }

       --quotes: #{cfg.ui("quotes")};
       --tab-size: #{cfg.ui("tab-size")};



        /*
            AUTO TEXT CONTRAST
        */
        --l-threshold: 0.7;
        --l: clamp(
            0,
            (var(--l-threshold) - l) * infinity,
            1
        );


        /*
            HEADINGS
        */
        --heading-scale: #{cfg.elements("heading-scale")};

        @if cfg.overridden("elements", "h6-font-size") {
            --h6-font-size: #{cfg.elements("h6-font-size")};
        } @else {
            --h6-font-size: var(--body-font-size);
        }

        @if cfg.overridden("elements", "h5-font-size") {
            --h5-font-size: #{cfg.elements("h5-font-size")};
        } @else {
            --h5-font-size: #{
                'calc(var(--h6-font-size) * var(--heading-scale))'
            };
        }

        @if cfg.overridden("elements", "h4-font-size") {
            --h4-font-size: #{cfg.elements("h4-font-size")};
        } @else {
            --h4-font-size: #{
                'calc(var(--h5-font-size) * var(--heading-scale))'
            };
        }

        @if cfg.overridden("elements", "h3-font-size") {
            --h3-font-size: #{cfg.elements("h3-font-size")};
        } @else {
            --h3-font-size: #{
                'calc(var(--h4-font-size) * var(--heading-scale))'
            };
        }

        @if cfg.overridden("elements", "h2-font-size") {
            --h2-font-size: #{cfg.elements("h2-font-size")};
        } @else {
            --h2-font-size: #{
                'calc(var(--h3-font-size) * var(--heading-scale))'
            };
        }

        @if cfg.overridden("elements", "h1-font-size") {
            --h1-font-size: #{cfg.elements("h1-font-size")};
        } @else {
            --h1-font-size: #{
                'calc(var(--h2-font-size) * var(--heading-scale))'
            };
        }

        --h6-height: #{'round(up, var(--h6-font-size), var(--root-line-height) / 2)'};
        --h5-height: #{'round(up, var(--h5-font-size), var(--root-line-height) / 2)'};
        --h4-height: #{'round(up, var(--h4-font-size), var(--root-line-height) / 2)'};
        --h3-height: #{'round(up, var(--h3-font-size), var(--root-line-height) / 2)'};
        --h2-height: #{'round(up, var(--h2-font-size), var(--root-line-height) / 2)'};
        --h1-height: #{'round(up, var(--h1-font-size), var(--root-line-height) / 2)'};


        /*
            SHARED ELEMENT VALUES
        */
        --media-element-vertical-align: #{cfg.elements("media-element-vertical-align")};
        --scrollbar-color-thumb: var(--base-ui-color-darker);
        --scrollbar-color-track: var(--base-ui-color-lighter);
        --scrollbar-size-legacy: var(--sz-m);


        /*
            BODY
        */
        --body-margin: #{cfg.elements("body-margin")};
        --body-max-width: #{cfg.elements("body-max-width")};
        --body-min-width: #{cfg.elements("body-min-width")};
        @if cfg.overridden("elements", "body-padding") {
            --body-padding: #{cfg.elements("body-padding")};
        } @else {
            --body-padding: var(--sz-m);
        }


        /*
            ANCHOR
        */
        --anchor-external-link-indicator-padding: #{cfg.elements("anchor-external-link-indicator-padding")};
        @if cfg.overridden("elements", "anchor-image-line-style") {
            --anchor-image-line-style: #{cfg.elements("anchor-image-line-style")};
        } @else {
            --anchor-image-line-style: var(--anchor-line-style);
        }
        @if cfg.overridden("elements", "anchor-image-line-style--alt") {
            --anchor-image-line-style--alt: #{cfg.elements("anchor-image-line-style--alt")};
        } @else {
            --anchor-image-line-style--alt: var(--anchor-line-style--alt);
        }
        --anchor-image-line-width: #{cfg.elements("anchor-image-line-width")};
        @if cfg.overridden("elements", "anchor-image-line-width--alt") {
            --anchor-image-line-width--alt: #{cfg.elements("anchor-image-line-width--alt")};
        } @else {
            --anchor-image-line-width--alt: var(--anchor-image-line-width);
        }
        --anchor-image-padding-bottom: #{cfg.elements("anchor-image-padding-bottom")};
        --anchor-image-padding-bottom--alt: #{cfg.elements("anchor-image-padding-bottom--alt")};
        --anchor-line-style: #{cfg.elements("anchor-line-style")};
        --anchor-line-style--alt: #{cfg.elements("anchor-line-style--alt")};
        --anchor-line-width: #{cfg.elements("anchor-line-width")};
        @if cfg.overridden("elements", "anchor-line-width--alt") {
            --anchor-line-width--alt: #{cfg.elements("anchor-line-width--alt")};
        } @else {
            --anchor-line-width--alt: var(--anchor-line-width);
        }
        @if cfg.overridden("elements", "anchor-text-color") {
            --anchor-text-color: #{cfg.elements("anchor-text-color")};
        } @else {
            --anchor-text-color: var(--base-text-color);
        }
        @if cfg.overridden("elements", "anchor-text-color--alt") {
            --anchor-text-color--alt: #{cfg.elements("anchor-text-color--alt")};
        } @else {
            --anchor-text-color--alt: var(--base-text-color);
        }


        /*
            BLOCKQUOTE
        */
        @if cfg.overridden("elements", "blockquote-padding-inline") {
            --blockquote-padding-inline: #{cfg.elements("blockquote-padding-inline")};
        } @else {
            --blockquote-padding-inline: var(--sz-m);
        }


        /*
            BUTTON
        */
        @if cfg.overridden("elements", "button-background-color") {
            --button-background-color: #{cfg.elements("button-background-color")};
        } @else {
            --button-background-color: var(--base-ui-color);
        }
        @if cfg.overridden("elements", "button-background-color--alt") {
            --button-background-color--alt: #{cfg.elements("button-background-color--alt")};
        } @else {
            --button-background-color--alt: var(--base-ui-color-light);
        }
        @if cfg.overridden("elements", "button-border-color") {
            --button-border-color: #{cfg.elements("button-border-color")};
        } @else {
            --button-border-color: var(--base-border-color);
        }
        @if cfg.overridden("elements", "button-border-radius") {
            --button-border-radius: #{cfg.elements("button-border-radius")};
        } @else {
            --button-border-radius: var(--base-border-radius);
        }
        @if cfg.overridden("elements", "button-border-style") {
            --button-border-style: #{cfg.elements("button-border-style")};
        } @else {
            --button-border-style: var(--base-border-style);
        }
        @if cfg.overridden("elements", "button-border-width") {
            --button-border-width: #{cfg.elements("button-border-width")};
        } @else {
            --button-border-width: var(--base-border-width);
        }
        @if cfg.overridden("elements", "button-min-height") {
            --button-min-height: #{cfg.elements("button-min-height")};
        } @else {
            --button-min-height: #{'calc(var(--sz-m) * 1.25)'};
        }
        @if cfg.overridden("elements", "button-padding-block") {
            --button-padding-block: #{cfg.elements("button-padding-block")};
        } @else {
            --button-padding-block: var(--ui-padding-block);
        }
        @if cfg.overridden("elements", "button-padding-inline") {
            --button-padding-inline: #{cfg.elements("button-padding-inline")};
        } @else {
            --button-padding-inline: var(--ui-padding-inline);
        }


        /*
            CAPTION
        */
        @if cfg.overridden("elements", "caption-background-color") {
            --caption-background-color: #{cfg.elements("caption-background-color")};
        } @else {
            --caption-background-color: var(--base-ui-color);
        }
        @if cfg.overridden("elements", "caption-padding") {
            --caption-padding: #{cfg.elements("caption-padding")};
        } @else {
            --caption-padding: var(--sz-m);
        }


        /*
            DETAILS
        */
        @if cfg.overridden("elements", "details-border-width") {
            --details-border-width: #{cfg.elements("details-border-width")};
        } @else {
            --details-border-width: var(--base-border-width);
        }
        @if cfg.overridden("elements", "details-padding") {
            --details-padding: #{cfg.elements("details-padding")};
        } @else {
            --details-padding: var(--sz-m);
        }


        /*
            FIELDSET
        */
        @if cfg.overridden("elements", "fieldset-border-width") {
            --fieldset-border-width: #{cfg.elements("fieldset-border-width")};
        } @else {
            --fieldset-border-width: var(--base-border-width);
        }
        @if cfg.overridden("elements", "fieldset-padding") {
            --fieldset-padding: #{cfg.elements("fieldset-padding")};
        } @else {
            --fieldset-padding: var(--sz-m);
        }


        /*
            FOOTER
        */
        @if cfg.overridden("elements", "footer-padding") {
            --footer-padding: #{cfg.elements("footer-padding")};
        } @else {
            --footer-padding: var(--sz-m);
        }

        /*
            HEADER
        */
        @if cfg.overridden("elements", "header-padding") {
            --header-padding: #{cfg.elements("header-padding")};
        } @else {
            --header-padding: var(--sz-m);
        }


        /* HR */
        @if cfg.overridden("elements", "hr-border-color") {
            --hr-border-color: #{cfg.elements("hr-border-color")};
        } @else {
            --hr-border-color: var(--base-border-color);
        }
        @if cfg.overridden("elements", "hr-border-style") {
            --hr-border-style: #{cfg.elements("hr-border-style")};
        } @else {
            --hr-border-style: var(--base-border-style);
        }
        @if cfg.overridden("elements", "hr-border-width") {
            --hr-border-width: #{cfg.elements("hr-border-width")};
        } @else {
            --hr-border-width: var(--base-border-width);
        }


        /*
            INPUT
        */
        --input-background-color: #{cfg.elements("input-background-color")};
        --input-background-color--state-1: #{cfg.elements("input-background-color--state-1")};
        @if cfg.overridden("elements", "input-border-color") {
            --input-border-color: #{cfg.elements("input-border-color")};
        } @else {
            --input-border-color: var(--base-border-color);
        }
        @if cfg.overridden("elements", "input-border-radius") {
            --input-border-radius: #{cfg.elements("input-border-radius")};
        } @else {
            --input-border-radius: var(--base-border-radius);
        }
        @if cfg.overridden("elements", "input-border-style") {
            --input-border-style: #{cfg.elements("input-border-style")};
        } @else {
            --input-border-style: var(--base-border-style);
        }
        @if cfg.overridden("elements", "input-border-width") {
            --input-border-width: #{cfg.elements("input-border-width")};
        } @else {
            --input-border-width: var(--base-border-width);
        }
        @if cfg.elements("input-file-max-width") != false {
            --input-file-max-width: #{cfg.elements("input-file-max-width")};
        }
        @if cfg.overridden("elements", "input-min-height") {
            --input-min-height: #{cfg.elements("input-min-height")};
        } @else {
            --input-min-height: #{'calc(var(--sz-m) * 1.25)'};
        }
        @if cfg.overridden("elements", "input-padding-inline") {
            --input-padding-inline: #{cfg.elements("input-padding-inline")};
        } @else {
            --input-padding-inline: var(--ui-padding-inline);
        }


        /*
            LABEL
        */
        @if cfg.overridden("elements", "label-padding-block") {
            --label-padding-block: #{cfg.elements("label-padding-block")};
        } @else {
            --label-padding-block: var(--sz-xs);
        }


        /*
            LEGEND
        */
        --legend-border-width: #{cfg.elements("legend-border-width")};
        @if cfg.overridden("elements", "legend-padding-inline") {
            --legend-padding-inline: #{cfg.elements("legend-padding-inline")};
        } @else {
            --legend-padding-inline: var(--sz-xs);
        }


        /*
            MAIN
        */
        @if cfg.overridden("elements", "main-background-color") {
            --main-background-color: #{cfg.elements("main-background-color")};
        } @else {
            --main-background-color: var(--base-background-color);
        }
        @if cfg.overridden("elements", "main-padding") {
            --main-padding: #{cfg.elements("main-padding")};
        } @else {
            --main-padding: var(--sz-m);
        }

        /*
            MARK
        */
        --mark-background-color: #{cfg.elements("mark-background-color")};
        --mark-text-color: #{cfg.elements("mark-text-color")};


        /*
            OPTGROUP
        */
        --optgroup-background-color: #{cfg.elements("optgroup-background-color")};
        --optgroup-label-background-color: #{cfg.elements("optgroup-label-background-color")};


        /*
            OPTION
        */
        --option-background-color: #{cfg.elements("option-background-color")};
        @if cfg.overridden("elements", "option-background-color-state-1") {
            --option-background-color-state-1: #{cfg.elements("option-background-color-state-1")};
        } @else {
            --option-background-color-state-1: var(--base-ui-color-lighter);
        }
        @if cfg.overridden("elements", "option-background-color-state-2") {
            --option-background-color-state-2: #{cfg.elements("option-background-color-state-2")};
        } @else {
            --option-background-color-state-2: var(--base-ui-color-darker);
        }
        @if cfg.overridden("elements", "option-padding-inline") {
            --option-padding-inline: #{cfg.elements("option-padding-inline")};
        } @else {
            --option-padding-inline: var(--ui-padding-inline);
        }


        /*
            PRE
        */
        @if cfg.overridden("elements", "pre-background-color") {
            --pre-background-color: #{cfg.elements("pre-background-color")};
        } @else {
            --pre-background-color: var(--base-ui-color-lighter);
        }

        --pre-margin-bottom: #{'calc(var(--base-rem-space-unit) * 2 - 17px)'};

        --pre-margin-bottom--edge: #{
            'calc(var(--base-rem-space-unit) * 2 - 12px)'
        };

        --pre-margin-bottom--ff: #{
            'calc(var(--base-rem-space-unit) + 7px)'
        };

        --pre-padding-bottom: #{
            'calc(var(--base-rem-space-unit) - 15px)'
        };

        --pre-code-padding: #{'calc(var(--base-rem-space-unit) / 2)'};

        --pre-code-line-height: var(--root-line-height);


        /*
            SELECT
        */
        --select-background-color: #{cfg.elements("select-background-color")};
        @if cfg.overridden("elements", "select-border-color") {
            --select-border-color: #{cfg.elements("select-border-color")};
        } @else {
            --select-border-color: var(--base-border-color);
        }
        @if cfg.overridden("elements", "select-border-radius") {
            --select-border-radius: #{cfg.elements("select-border-radius")};
        } @else {
            --select-border-radius: var(--base-border-radius);
        }
        @if cfg.overridden("elements", "select-border-style") {
            --select-border-style: #{cfg.elements("select-border-style")};
        } @else {
            --select-border-style: var(--base-border-style);
        }
        @if cfg.overridden("elements", "select-border-width") {
            --select-border-width: #{cfg.elements("select-border-width")};
        } @else {
            --select-border-width: var(--base-border-width);
        }
        @if cfg.overridden("elements", "select-padding-inline-start") {
            --select-padding-inline-start: #{cfg.elements("select-padding-inline-start")};
        } @else {
            --select-padding-inline-start: var(--ui-padding-inline);
        }
        @if cfg.overridden("elements", "select-padding-inline-end") {
            --select-padding-inline-end: #{cfg.elements("select-padding-inline-end")};
        } @else {
            --select-padding-inline-end: #{
                'calc(var(--select-padding-inline-start) + var(--sz-s))'
            };
        }



        /*
            TABLE

            Public hierarchy:

                --base-border-*
                    ↓
                --table-border-*
                    ↓
                --td-border-* / --th-border-*
        */
        --table-background-color: #{cfg.elements("table-background-color")};
        @if cfg.overridden("elements", "table-border-color") {
            --table-border-color: #{cfg.elements("table-border-color")};
        } @else {
            --table-border-color: var(--base-border-color);
        }
        @if cfg.overridden("elements", "table-border-style") {
            --table-border-style: #{cfg.elements("table-border-style")};
        } @else {
            --table-border-style: var(--base-border-style);
        }
        @if cfg.overridden("elements", "table-border-width") {
            --table-border-width: #{cfg.elements("table-border-width")};
        } @else {
            --table-border-width: var(--base-border-width);
        }


        /*
            TD
        */
        --td-background-color: #{cfg.elements("td-background-color")};
        @if cfg.overridden("elements", "td-border-color") {
            --td-border-color: #{cfg.elements("td-border-color")};
        } @else {
            --td-border-color: var(--table-border-color);
        }
        @if cfg.overridden("elements", "td-border-style") {
            --td-border-style: #{cfg.elements("td-border-style")};
        } @else {
            --td-border-style: var(--table-border-style);
        }
        @if cfg.overridden("elements", "td-border-width") {
            --td-border-width: #{cfg.elements("td-border-width")};
        } @else {
            --td-border-width: var(--table-border-width);
        }
        @if cfg.overridden("elements", "td-padding") {
            --td-padding: #{cfg.elements("td-padding")};
        } @else {
            --td-padding: var(--sz-s);
        }


        /*
            TEXTAREA
        */
        --textarea-background-color: #{cfg.elements("textarea-background-color")};
        @if cfg.overridden("elements", "textarea-border-color") {
            --textarea-border-color: #{cfg.elements("textarea-border-color")};
        } @else {
            --textarea-border-color: var(--base-border-color);
        }
        @if cfg.overridden("elements", "textarea-border-radius") {
            --textarea-border-radius: #{cfg.elements("textarea-border-radius")};
        } @else {
            --textarea-border-radius: var(--base-border-radius);
        }
        @if cfg.overridden("elements", "textarea-border-style") {
            --textarea-border-style: #{cfg.elements("textarea-border-style")};
        } @else {
            --textarea-border-style: var(--base-border-style);
        }
        @if cfg.overridden("elements", "textarea-border-width") {
            --textarea-border-width: #{cfg.elements("textarea-border-width")};
        } @else {
            --textarea-border-width: var(--base-border-width);
        }
        @if cfg.overridden("elements", "textarea-padding-inline") {
            --textarea-padding-inline: #{cfg.elements("textarea-padding-inline")};
        } @else {
            --textarea-padding-inline: var(--ui-padding-inline);
        }
        --textarea-resize: #{cfg.elements("textarea-resize")};


        /*
            TH
        */
        --th-background-color: #{cfg.elements("th-background-color")};
        @if cfg.overridden("elements", "th-border-color") {
            --th-border-color: #{cfg.elements("th-border-color")};
        } @else {
            --th-border-color: var(--table-border-color);
        }
        @if cfg.overridden("elements", "th-border-style") {
            --th-border-style: #{cfg.elements("th-border-style")};
        } @else {
            --th-border-style: var(--table-border-style);
        }
        @if cfg.overridden("elements", "th-border-width") {
            --th-border-width: #{cfg.elements("th-border-width")};
        } @else {
            --th-border-width: var(--table-border-width);
        }
        @if cfg.overridden("elements", "th-padding") {
            --th-padding: #{cfg.elements("th-padding")};
        } @else {
            --th-padding: var(--sz-s);
        }


        /*
            VIDEO
        */
        --video-background-color: #{cfg.elements("video-background-color")};
    }
}
