/*-------------------------------------------------------------------------------------------------|

    START-CSS TOKENS
    ============================================================================================

    Assign custom properties to :root.

|-------------------------------------------------------------------------------------------------*/

@use "start-config" as cfg;

@property --background-color {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
}

@mixin emit() {
    :root {
        --base-font-family: #{cfg.tokens("base-font-family")};
        --monospace-font-family: #{cfg.tokens("monospace-font-family")};

        //--base-font-unit: #{cfg.tokens("base-font-unit")};
        //--base-font-size: #{cfg.tokens("base-font-size")};
        //--base-space-unit: #{cfg.tokens("base-space-unit")};

        --base-rem-space-unit: #{cfg.tokens("base-rem-space-unit")};


        --root-font-size: #{cfg.elements("root-font-size")};
        --root-line-height: #{cfg.elements("root-line-height")};


        --body-min-width: #{cfg.elements("body-min-width")};
        --body-max-width: #{cfg.elements("body-max-width")};
        --body-margin: #{cfg.elements("body-margin")};
        --body-font-size: #{cfg.elements("body-font-size")};

        --small-font-size: #{cfg.elements("small-font-size")};

        --base-ui-color: #{cfg.tokens("base-ui-color")};

        --ui-tone-light: #{cfg.ui("ui-tone-light")};
        --ui-tone-dark:  #{cfg.ui("ui-tone-dark")};
        --ui-chroma-scale-light: #{cfg.ui("ui-chroma-scale-light")};
        --ui-chroma-scale-dark:  #{cfg.ui("ui-chroma-scale-dark")};

        /* Light side */
        --base-ui-color-lightest: oklch(
            from var(--base-ui-color)
            calc(min(1, l + (1 - l) * (var(--ui-tone-light) * 3)))
            calc(c * (var(--ui-chroma-scale-light) * 0.8))
            h
        );

        --base-ui-color-lighter: oklch(
            from var(--base-ui-color)
            calc(min(1, l + (1 - l) * (var(--ui-tone-light) * 2)))
            calc(c * (var(--ui-chroma-scale-light) * 1.0))
            h
        );

        --base-ui-color-light: oklch(
            from var(--base-ui-color)
            calc(min(1, l + (1 - l) * (var(--ui-tone-light) * 1)))
            calc(c * (var(--ui-chroma-scale-light) * 1.2))
            h
        );

        /* Dark side */
        --base-ui-color-dark: oklch(
            from var(--base-ui-color)
            calc(max(0, l - l * (var(--ui-tone-dark) * 1)))
            calc(c * (var(--ui-chroma-scale-dark) * 1.0))
            h
        );

        --base-ui-color-darker: oklch(
            from var(--base-ui-color)
            calc(max(0, l - l * (var(--ui-tone-dark) * 2)))
            calc(c * (var(--ui-chroma-scale-dark) * 0.9))
            h
        );

        --base-ui-color-darkest: oklch(
            from var(--base-ui-color)
            calc(max(0, l - l * (var(--ui-tone-dark) * 3)))
            calc(c * (var(--ui-chroma-scale-dark) * 0.8))
            h
        );

        /*--base-ui-color-lightest: oklch(from var(--base-ui-color) 0.995 calc(c * 0.28) h);
        --base-ui-color-lighter:  oklch(from var(--base-ui-color) 0.92  calc(c * 0.48) h);
        --base-ui-color-light:    oklch(from var(--base-ui-color) 0.84  calc(c * 0.68) h);

        --base-ui-color-dark:     oklch(from var(--base-ui-color) 0.68  calc(c * 0.90) h);
        --base-ui-color-darker:   oklch(from var(--base-ui-color) 0.54  calc(c * 0.82) h);
        --base-ui-color-darkest:  oklch(from var(--base-ui-color) 0.38  calc(c * 0.70) h);*/

        /*--base-ui-color-lightest: hsl(from var(--base-ui-color)  h s calc(l - 90));
        --base-ui-color-lighter:  hsl(from var(--base-ui-color)  h s calc(l - 60));
        --base-ui-color-light:    hsl(from var(--base-ui-color)  h s calc(l - 30));

        --base-ui-color-dark:     hsl(from var(--base-ui-color)  h s calc(l - 30));
        --base-ui-color-darker:   hsl(from var(--base-ui-color)  h s calc(l - 60));
        --base-ui-color-darkest:  hsl(from var(--base-ui-color)  h s calc(l - 90));*/


        --base-background-color: #{cfg.tokens("base-background-color")};
        --base-text-color: #{cfg.tokens("base-text-color")};
        --base-text-color-inverse: #{cfg.tokens("base-text-color-inverse")};

        --background-color: var(--base-background-color);
        --color: var(--base-text-color);
        --color--inverse: var(--base-text-color-inverse);
        --base-ui-color--text: var(--color--inverse);

        --base-border-width: 0.1rem;
        --base-border-style: solid;
        --base-border-color: var(--base-ui-color);
        --base-border-radius: 0.3rem;

        // Values for auto text contrast:
        --l-threshold: 0.7;
        --l: clamp(0, (var(--l-threshold) - l) * infinity, 1);
        //--color: oklch(from var(--background-color) var(--l) 0 h / 0.9);


        --sz-xxs: calc(var(--base-rem-space-unit) / 8);
        --sz-xs: calc(var(--base-rem-space-unit) / 4);
        --sz-s: calc(var(--base-rem-space-unit) / 2);
        --sz-m: var(--base-rem-space-unit);
        --sz-l: calc(var(--base-rem-space-unit) * 2);
        --sz-xl: calc(var(--base-rem-space-unit) * 4);
        --sz-xxl: calc(var(--base-rem-space-unit) * 8);

        --m: var(--base-rem-space-unit);

        --h1-font-size: #{cfg.elements("h1-font-size")};
        --h1-height: #{cfg.elements("h1-height")};
        --h2-font-size: #{cfg.elements("h2-font-size")};
        --h2-height: #{cfg.elements("h2-height")};
        --h3-font-size:#{cfg.elements("h3-font-size")};
        --h3-height: #{cfg.elements("h3-height")};
        --h4-font-size: #{cfg.elements("h4-font-size")};
        --h4-height: #{cfg.elements("h4-height")};
        --h5-font-size: #{cfg.elements("h5-font-size")};
        --h5-height: #{cfg.elements("h5-height")};
        --h6-font-size: #{cfg.elements("h6-font-size")};
        --h6-height: #{cfg.elements("h6-height")};

        --table-border-width: var(--base-border-width);
        --table-border-style: var(--base-border-style);
        --table-color: var(--base-ui-color);
        --th-cell-padding: var(--base-rem-space-unit);
        --th-border-width: var(--base-border-width);
        --th-border-color: var(--base-ui-color);
        --th-color: var(--base-ui-color-lighter);
        --th-color--text: var(--base-ui-color--text);

        --list-indent: #{cfg.elements("list-indent")};

        --video-background-color:  #{cfg.elements("video-background-color")};
    }
}
