/*-------------------------------------------------------------------------------------------------|
    Fall-Back Start-CSS Settings

    Fall-Back is designed for use with the basic
    [CSS Mustard Cut](https://github.com/Fall-Back/CSS-Mustard-Cut)

    This determines a browser support base of:

    IE 9+, FF 8+, Opera 12, [Chrome 29+, Android ~4.4+]
    Chrome 29+, Opera 16+, Safari 6.1+, iOS 7+, Android ~4.4+


    Any double-classing (e.g. `.class.class`) is deliberate and intended to increase specifity.
    This allows any applicable Start-CSS declarations to be overidden.
    E.g. `.{pattern} .{pattern}__child` would `a[href]`, but just `.{pattern}` wouldn't, so we use
    `.{pattern}.{pattren}`

    https://coolors.co/50514f-f25f5c-ffe066-247ba0-70c1b3

|-------------------------------------------------------------------------------------------------*/

$flbk--root-font-size:         16px !default;
$flbk--base-font-size:         16px !default;
$flbk--base-line-height:       24px !default; // 1.25

$flbk--base-em-ratio:          $flbk--base-line-height / $flbk--base-font-size; // 1.71428571429
$flbk--root-font-size-percent: ($flbk--root-font-size / 16px) * 100;
//@debug $flbk--base-line-height;
//@debug ($flbk--base-line-height / $flbk--root-font-size);
//@debug ($flbk--base-line-height / $flbk--root-font-size) * 1rem;

$flbk--base-rem-space-unit:    ($flbk--base-line-height / $flbk--root-font-size) * 1rem;
$flbk--base-rem-1px:           1px / $flbk--root-font-size * 1rem;
$flbk--base-em-1px:            1px / $flbk--root-font-size * 1em;
$flbk--mq-1-em-px:             0.0625em;

$flbk--base-font-family:       sans-serif !default;
// Consider:
//$flbk--base-font-family:       -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !default;
// https://bitsofco.de/the-new-system-font-stack/ https://github.com/necolas/normalize.css/issues/665


$flbk--breakpoint--enhanced:   50em !default;



// UI:
$flbk--base-ui-color:          #247BA0 !default;

$flbk--base-background-color:  #fff !default;
$flbk--base-text-color:        #333 !default;


$flbk-border-color: rgba(0,0,0,0.2) !default;
// IMPORTANT: don't make this LESS than 1px or focus styles will break. If you want the appearance
// of no border, set the color to transparent.
$flbk-border-width: 1px !default;
$flbk-border-radius: 3px !default;
$flbk-border-style: solid !default;


$flbk-focus-outline-width: 2px !default;
$flbk-focus-outline-style: solid !default;
$flbk-focus-outline-color: rgba($flbk--base-ui-color, 0.6) !default;
$flbk-focus-outline-offset: 2px !default;
// Note that IE and earlier Edge don't support outline-offset, so aesthetically, outline isn't a
// great choice.






// MQ hacks (https://browserstrangeness.github.io/css_hacks.html)
// Hacks with 0\0 encoded to preserve hack so appear as \0030\005C\0030.

$flbk--ie9:                    "all and (min-width: \0030\005C\0030) and (min-resolution: .001dpcm)";
$flbk--ie9-11:                 "screen and (min-width:\0030\005C\0030) and (min-resolution:+72dpi)";