/*-------------------------------------------------------------------------------------------------|

    COOKIE NOTICE
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------*\
    Import Fall-Back vars:

    Slightly hacky way of allowing the main UI colour of this pattern to be:
     - base-ui colour (if set)
     - otherwise #999
     - but can be specifically overridden
\*------------------------------------------------------------------------------------------------*/

/*
$t: #999;
@if variable-exists(fallback--base-ui-color) {
    $t: $s__base-ui-color;
}
*/
//$s__close-button--ui-color:         $t !default;
/*------------------------------------------------------------------------------------------------*/


// Colours:
/*
$s__close-button--bg-color:         #000 !default;
$s__close-button--border:           0 !default;

$s__close-button__text-color:       #fff !default;


$s__close-button__link--color:      lighten($s__close-button--ui-color, 40%) !default;
$s__close-button__link--color--alt: lighten($s__close-button--ui-color, 20%) !default;


// Sizes:

$s__close-button--spacing:          ($s__base-em-ratio * 1.5em) / 3 !default;


// Transitions:

$s__close-button--close-transition: opacity 1s ease 0s, z-index 1s ease 1s !default;
*/
// Selectors:

$ss__close_button: ".close-button" !default;
/*
$ss__close_button--close: "##{close_button}[data-close=\"true\"]" !default;
$ss__close_button__message: "##{close_button} p" !default;
$ss__close_button__action: "##{close_button} button" !default;
*/
/* -- Basic styles ------------------------------------------------------------------------------ */

    #{$ss__close_button} {

        @include s__button(
            $s__base-text-color,
            rgba(0,0,0,0),
            rgba(0,0,0,0.3),
            rgba(0,0,0,0)
        );

    }

/* ---------------------------------------------------------------------------------------------- */