---
title: Page Layout - Listing
layout: dev/structure--elementary
---

        <div>

            <header>
                <h1>{{ page.title }}</h1>
            </header>

            <p>This page is an example of the default listing page. The page is wrapped in a div lists on this level are treated as a 'gallery'. The default gallery uses flexbox. Note there's also no sidebar on this page (though there could be if you needed one).</p>

            <div role="list">
                <div role="listitem">
                    {% include card.html
                        title="Card Title"
                        hx="3"
                        content="<p>This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                        footer="<p>- by Some Author</p>"
                    %}
                </div>
                <div role="listitem">
                    {% include card.html
                        title="Card Title Thing"
                        hx="3"
                        content="<p>This card tells you something else about something else. This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </div>
                <div role="listitem">
                    {% include card.html
                        title="Card Title"
                        hx="3"
                        content="<p>This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                        footer="<p>- by Some Author</p>"
                    %}
                </div>
                <div role="listitem">
                    {% include card.html
                        title="Longer Card Title"
                        hx="3"
                        content="<p>This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </div>
                <div role="listitem">
                    {% include card.html
                        title="Card Title"
                        hx="3"
                        content="<p>This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </div>
                <div role="listitem">
                    {% include card.html
                        title="Card Title"
                        hx="3"
                        content="<p>This card tells you something else about something else. <a href=\"#\">Thisisalinkonalongwordtoshowwrapping</a>. This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </div>
                <div role="listitem">
                    {% include card.html
                        title="Card Title"
                        hx="3"
                        content="<p>This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                        footer="<p>- by Some Author</p>"
                    %}
                </div>
                <div role="listitem">
                    {% include card.html
                        title="Card Longer Title"
                        hx="3"
                        content="<p>This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </div>
                <div role="listitem">
                    {% include card.html
                        title="Card Longer Longer Title"
                        hx="3"
                        content="<p>This card tells you something else about something else. This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                        footer="<p>- by Some Author</p>"
                    %}
                </div>
                <div role="listitem">
                    {% include card.html
                        title="Card Title"
                        hx="3"
                        content="<p>This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </div>
                <div role="listitem">
                    {% include card.html
                        title="Card Title"
                        hx="3"
                        content="<p>This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </div>
                <div role="listitem">
                    {% include card.html
                        title="Longer Longer Longer Longer Card Title"
                        hx="3"
                        content="<p>This card tells you something else about something else. This card tells you something else about something else. This card tells you something else about something else. This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </div>
                <div role="listitem">
                    {% include card.html
                        title="Card Title"
                        hx="3"
                        content="<p>This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                        footer="<p>- by Some Author</p>"
                    %}
                </div>
                <div role="listitem">
                    {% include card.html
                        title="Longer Card Title"
                        hx="3"
                        content="<p>This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </div>
                <div role="listitem">
                    {% include card.html
                        title="Card Title"
                        hx="3"
                        content="<p>This card tells.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </div>
                <div role="listitem">
                    {% include card.html
                        title="Card Longer Title"
                        hx="3"
                        content="<p>This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </div>
                <div role="listitem">
                    {% include card.html
                        title="Longer Card Longer Longer Title"
                        hx="3"
                        content="<p>This tells you something.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </div>

            </div>

        </div>
