/*-------------------------------------------------------------------------------------------------|

    COMPONENTS - INFO OVERLAY
    =========================

|-------------------------------------------------------------------------------------------------*/

@mixin component__info-overlay($options: ()) {

    #{map-get($options, selector)} {

        position: absolute;
        left: 0;
        top: 0;
        color: #fff;
        background: rgba(0,0,0,0.5);
        padding: 0;
        margin: 0;
        
        a[href],
        a[href]:hover,
        a[href]:focus,
        a[href]:active {
            color: #fff;
        }

        &[open] {
            & > summary {
                & > :first-child {
                    display: none;
                }

                & > :last-child {
                    display: inline;
                }
            }
        }
        
        &::after {
            display: none;
        }
    }

    #{map-get($options, selector)} > summary {

        width: #{map-get($options, icon-size)};
        height: #{map-get($options, icon-size)};
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;


        & > :first-child {
            display: inline;
        }

        & > :last-child {
            display: none;
        }
        
        &::before {
            display: none;
        }
        
        &:hover,
        &:focus,
        &:active {
            background: rgba(255,255,255,0.4);
        }
    }
    
    #{map-get($options, selector)} > summary + * {
        position: relative;
        left: 2.4rem;
        margin-top: -2.4rem;
        margin-bottom: 2.4rem;
        max-width: calc(100% - 2.4rem);
        padding: $s__sz-xs $s__sz-m;
        //font-size: 0.875em;
    }
}