/*! Start-CSS Experimental. See SCSS file for documentation. */
/*-------------------------------------------------------------------------------------------------|

    EXPERIMENTAL
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

@use "../start-config" as cfg;

@mixin emit() {

    @if cfg.flags("experimental") == true {
        /*
            From https://github.com/mozdevs/cssremedy/blob/master/remedy.css
            Immediately jump any animation to the end point if the user has set their device to "prefers
            reduced motion".
            This could create bad, unintended consequences. Remove as needed, and write your own appropriate
            code for prefers-reduced-motion.

        */
        @media (prefers-reduced-motion: reduce) {
            * {
                animation-duration: 0.001s !important;
                transition-duration: 0.001s !important;
            }
        }




        // _:-webkit-full-screen, _::-webkit-full-page-media, _:future, :root .selector { property:value; }
        // Safari 6.2,7.1+ (Not iOS)
        _:-webkit-full-screen, _::-webkit-full-page-media, _:future, :root select[size="2"]  { margin-bottom: calc(var(--m) - 0.6em - (var(--input-border-width) * 2)); }
        _:-webkit-full-screen, _::-webkit-full-page-media, _:future, :root select[size="3"]  { margin-bottom: calc(var(--m) - 0.6em - (var(--input-border-width) * 2)); }
        _:-webkit-full-screen, _::-webkit-full-page-media, _:future, :root select[size="4"]  { margin-bottom: calc(var(--m) - 0.6em - (var(--input-border-width) * 2)); }
        _:-webkit-full-screen, _::-webkit-full-page-media, _:future, :root select[size="5"]  { margin-bottom: calc(var(--m) - 1.1em - (var(--input-border-width) * 2)); }
        _:-webkit-full-screen, _::-webkit-full-page-media, _:future, :root select[size="6"]  { margin-bottom: calc(var(--m) - 0.85em - (var(--input-border-width) * 2)); }
        _:-webkit-full-screen, _::-webkit-full-page-media, _:future, :root select[size="7"]  { margin-bottom: calc(var(--m) - 0.6em - (var(--input-border-width) * 2)); }
        _:-webkit-full-screen, _::-webkit-full-page-media, _:future, :root select[size="8"]  { margin-bottom: calc(var(--m) - 1.1em - (var(--input-border-width) * 2)); }
        _:-webkit-full-screen, _::-webkit-full-page-media, _:future, :root select[size="9"]  { margin-bottom: calc(var(--m) - 0.85em - (var(--input-border-width) * 2)); }
        _:-webkit-full-screen, _::-webkit-full-page-media, _:future, :root select[size="10"] { margin-bottom: calc(var(--m) - 0.6em - (var(--input-border-width) * 2)); }

    }

    /*
        These may be experimental, but they actually make Safari usable with a keyboard, so long as
        you enable an "Accessibility" setting located in the advanced tab of Safari preferences.
        ("Press TAB to highlight each item on a web page.)
        That is - the default outline focus style works, but shadows don't unless appearance: none
        is used.

        1. Safari 9.1 doesn't recognize 'auto' but I suspect others won't recognize 'initial', so
        keeping both for now.
    */
    @if cfg.flags("experimental_checkradios") == true {

        #{cfg.base("namespace")}input[type="checkbox"],
        #{cfg.base("namespace")}input[type="radio"] {
            position: relative;

            display: inline-block;

            width: 1em;

            height: 1em;
            min-height: auto; /* 1 */
            min-height: initial; /* 1 */

            border-width: var(--checkradio-border-width, var(--base-border-width));
            border-style: var(--checkradio-border-style, var(--base-border-style));
            border-color: var(--checkradio-text-color, var(--base-text-color));

            background-color: var(--checkradio-background-color, #fff);

            appearance: none;
        }

        #{cfg.base("namespace")}input[type="radio"] {
            border-radius: 50%;
        }

        #{cfg.base("namespace")}input[type="radio"]:checked {
            background-image: radial-gradient(ellipse at center, var(--checkradio-text-color, var(--base-text-color)) 0%, var(--checkradio-text-color, var(--base-text-color)) 35%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 100%);
        }

        #{cfg.base("namespace")}input[type="checkbox"]:checked::after {
            content: "";
            display: inline-block;
            width: 0.6em;
            height: 0.3em;
            border: solid var(--checkradio-text-color, var(--base-text-color));
            border-width: 0 0 0.125em 0.125em;

            position: absolute;
            left: 50%;
            top: 50%;

            transform: translate(-50%, -70%) rotate(-50deg);
        }

        /*
            Turn off the outline we reinstated for non-experimental styles in Safari:
        */
        /*_::-webkit-full-page-media, _:future, :root #{cfg.base("namespace")}[type="checkbox"]:focus,
        _::-webkit-full-page-media, _:future, :root #{cfg.base("namespace")}[type="radio"]:focus {
            outline: 0;
        }*/

    }
}