h1, h2, h3 {
    font-family: 'Vollkorn', serif;
    font-weight: normal;
}


.off-canvas .nav-bar__title-section {
    text-align: left;
}

.off-canvas .off-canvas__panel--right {
    @include fallback-rem(padding, ($fallback--base-font-size / 2));
}


main {
    @include fallback-rem(max-width, 1000px);
    margin: 0 auto;
    @include fallback-rem(padding, 0 $fallback--base-font-size);
}


.footer {
    background: #eee;
    text-align: center;
}

.footer > p {
    margin: 0;
    @include fallback-rem(padding, $fallback--base-font-size 0);
}
