@charset "UTF-8";

@import "../bower_components/inuit-normalize/generic.normalize";

input[type="search"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@import "basic";

// Fonts:
body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
}


//$fallback--base-font-size: 10px;
$fallback--base-ui-color:  #5382A4;
@import "../bower_components/Fall-Back-Base/_fallback-base.scss";


main {
    @include fallback-rem(padding, $fallback--base-font-size * 2);
}


a {
    color: $fallback--base-ui-color;
    text-decoration: underline;
}

a:hover {
    color: lighten($fallback--base-ui-color, 15%);
    text-decoration: none;
}
/*
nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
*/

code {
    background: lighten($fallback--base-ui-color, 40%);
    padding: 0 2px;
}

/* https://perishablepress.com/perfect-pre-tags/ */
pre {
    @include fallback-rem(margin, 0 auto ($fallback--base-font-size * 2));
    overflow: auto;
    width: 500px;
    width: 90vw;
    background: lighten($fallback--base-ui-color, 40%);
    padding: 0.5em 0;
}


$fallback--sub-nav--bg-color:      darken($fallback--base-ui-color, 10%);
$fallback--nav-bar--margin-bottom: 20px;

@import "../bower_components/Fall-Back-Nav-Bar/_nav-bar.scss";


$fallback--off-canvas__left-panel--padding:  0;
$fallback--off-canvas__right-panel--padding: 20px;
@import "../bower_components/Fall-Back-Off-Canvas/_off-canvas.scss";


@import "../bower_components/Fall-Back-Search-Form/_search-form.scss";


@import "../bower_components/Fall-Back-Sticky-Footer/_sticky-footer.scss";


$fallback-svg--fixed-height:      40px;
$fallback-svg--padding:           3px;
$fallback-svg--border-width:      1px;
$fallback-svg--border-color:      #999;
$fallback-svg--link-bg-color:     #fff;
$fallback-svg--link-bg-color-alt: #ffdd79;
@import "../bower_components/Fall-Back-SVG/_svg.scss";


//@include svg--fixed-height(40px, 'svg-logo', );

@import "../bower_components/Fall-Back-Top-Bar/_top-bar.scss";




.footer {
    background: #eee;
    text-align: center;
}

.footer > p {
    margin: 0;
    @include fallback-rem(padding, $fallback--base-font-size 0);
}