<p>StartCSS wraps everything in the feature query: <code>@supports (selector(:has(*))) and (color: color-mix(in lab, white, black 50%)) {}</code> to 'cut' older browsers that might break visual presentation. Support for this feature is as follows:</p>


<p>
    Edge 111+, Chrome 111+, Firefox 121+, Opera 97+, Safari 16.2+, iOS 16.2+, Android 145+ (unable to test earlier than 145)<br>
<a href="https://caniuse.com/css-has,wf-color-mix">Can I Use</a>
</p>

<p>It's recommended to also load StartCSS using the <a href="https://github.com/Fall-Back/CSS-Mustard-Cut#prm-cut-prefers-reduced-motion" rel="external">PRM Mustard Cut</a> which supports the following browsers according to <a hreef="https://caniuse.com/prefers-reduced-motion">CanIUse</a>:</p>
