<p>StartCSS wraps everything in the feature query: @supports (font-size: clamp(10px, 1vw, 12px)) to 'cut' older browsers that might break visual presentation. Support for this feature is as follows:</p>


<p>
Edge 79+, Chrome 79+, Firefox 75+, Opera 66+, Safari 13.1+, iOS 13.4+, Android ~117+ (unable to test earlier than 117)<br>
<a href="https://caniuse.com/css-math-functions">Can I Use Clamp</a>
</p>

<p>It's recommended to also load StartCSS using the <a href="https://github.com/Fall-Back/CSS-Mustard-Cut#prm-cut-prefers-reduced-motion" rel="external">PRM Mustard Cut</a> which supports the following browsers according to <a hreef="https://caniuse.com/prefers-reduced-motion">CanIUse</a>:</p>