    <style>
        /*
            Tiny Fall-Back Styles continued ...

            What follows is a mix of markup patterns and attributes to help provide a more
            reasonable fallback - it's unconventional, so leave it out if you like.
        */

        [data-fs-layout~="stack"] > * {
            margin-top: 0;
            margin-bottom: 0;

        }

        [data-fs-layout~="stack"] > * + * {
            margin-top: 1.4rem;
        }

        /* --| Block styles |-------------------------------------------------------------------- */
        [data-fs-block] {
            display: block;
            margin-left: 0;
            margin-right: 0;
        }

        [data-fs-block~="inline"] {
            display: inline-block;
        }

        [data-fs-block~="background"] {
            background: #b8b6b0;
            padding: 1em;
        }

        [data-fs-block~="inverted"]  {
            background-color: #5d4777;
            padding: 1em;
        }

        [data-fs-block~="inverted"] * {
            color: #fff;
        }


        [data-fs-block~="inverted"] img {
            background: #fff;
            padding: 0.5em;
            border: 0;
        }

        [data-fs-block~="border"] {
            border: 1px solid #5d4777;
            padding: 1em;
        }

        [data-fs-block~="rounded"] {
            border-radius: 1em;
        }

        [data-fs-block~="padding"] {
            padding: 1em;
        }

        [data-fs-block~=flush]{
            margin-left: -2em;
            margin-right: -2em;
        }

        [data-fs-block~=flush]:last-child{
            margin-bottom: -2em;
        }

        /* --| Table Layout |-------------------------------------------------------------------- */
        /*
            Useful when you have a very small amount of items you want to display side-by-side.
            Like, maybe 2, on the left and right. It doesn't wrap so the items should be small.
            There's reasonable support. Better support would be:
            `<table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">`
            But we're not supposed to use deprecated 'presentational' elements and attributes.
        */
        [data-fs-block~="table"] {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

        [data-fs-block~="table--spaced"] {
            border-spacing: 1em;
        }

        [data-fs-block~="table"] > * {
            display: table-cell;
            padding: 0.5em;
        }


        /* --| Flex Layout |--------------------------------------------------------------------- */
        /*
            More responsive and has wrapping, but less well supported than the table layout.
        */
        [data-fs-block~="flex"] {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        [data-fs-block~="flex"] > * {
            -webkit-box-flex: 1;
            -webkit-flex: 1 1 auto;
            -moz-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto
        }

        /* --| Other stuff |--------------------------------------------------------------------- */

        /* Responsive embeds (e.g. YouTube, maps) via http://embedresponsively.com. */
        [data-fs-block="video"] {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            max-width: 100%;
        }

        [data-fs-block="video"] iframe,
        [data-fs-block="video"] object,
        [data-fs-block="video"] embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }


        /* Horizontal rules: */
        [data-fs-hr="larger"] {
            border-top-width: 10px;
        }

        /* Visually hidden / SR only: */
        [data-fs-hidden="visually"],
        [data-fs-hidden="visually-revealable"]:not(:focus):not(:active) {
            border: 0 !important;
            clip: rect(1px, 1px, 1px, 1px) !important;
            -webkit-clip-path: inset(50%) !important;
                    clip-path: inset(50%) !important;
            height: 1px !important;
            overflow: hidden !important;
            padding: 0 !important;
            position: absolute !important;
            width: 1px !important;
            white-space: nowrap !important;
        }
    </style>