/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: caption
    v4.0.0
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

@use "../start-config" as cfg;
@use "../start-mixins" as mixins;

@mixin emit() {
    /*
        1. This overrides TFS, but I need to look into that to see if it's really a good idea.
           Maybe left-align captions for TFS instead.
    */
    #{cfg.base("namespace")}caption {
        --background-color: var(--caption-color, var(--table-color, var(--base-ui-color)));
        background-color: var(--background-color);

        display: table-caption;

        padding-top: var(--caption-padding, var(--sz-s));
        padding-right: var(--caption-padding, var(--sz-s));
        padding-bottom: var(--caption-padding, var(--sz-s));
        padding-left: var(--caption-padding, var(--sz-s));

        font-weight: bold;

        max-width: none; /* [1] */
    }

    /*
        1. Tables that are very wide risk their captions being hidden off-screen.This allows them to
           to stay visible at all times. Also see the figure element.
    */
    #{cfg.base("namespace")}figure:has(> table) caption {
        max-width: 100cqw; /* [1] */
        position: sticky; /* [1] */
        left: 0; /* [1] */
        top: 0; /* [1] */
    }
}