/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: details
    v4.0.0
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

@use "../start-config" as cfg;
@use "../start-mixins" as mixins;

@mixin emit() {
    #{cfg.base("namespace")}details {
        @include mixins.s__bordered(
            var(--details-padding, var(--sz-m)),
            var(--details-border-width, var(--base-border-width))
        );
        @include mixins.s__block_margins();

        // Legacy: likely safe to remove.
        // Fix Chrome bug as described on https://caniuse.com/#feat=details:
        //> * {
        //    box-sizing: border-box;
        //}
    }

    /*
        Animate to auto height if supported and user doesn't prefer reduced motion:
    */
    @media screen and (prefers-reduced-motion: no-preference) {
        @supports (interpolate-size: allow-keywords) {
            /*
                If you want to style ::details-content with a background you'll likely need padding,
                but that isn't clipped by height: 0 so we need to transition that with the rest. To
                save having to redeclare this whole block padding transition is catered for - you just
                need to update the --content-padding var.
            */
            #{cfg.base("namespace")}details {
                &::details-content {
                    --content-padding: 0;
                    --duration: 0.5s;
                    --duration-2: 0.75s;

                    transition:
                        height var(--duration) ease,
                        opacity var(--duration) ease,
                        content-visibility var(--duration) ease allow-discrete,
                        margin-top var(--duration-2) ease,
                        padding var(--duration-2) ease;

                    height: 0;
                    margin-top: 0;
                    padding: 0;
                    opacity: 0;
                    overflow: clip;
                }

                &[open]::details-content {
                    height: auto;
                    margin-top: var(--sz-m);
                    padding: var(--content-padding);
                    opacity: 1;
                }
            }

            :root {
                interpolate-size: allow-keywords;
            }
        }
    }
}