/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: fieldset
    v4.0.0
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

@use "../start-config" as cfg;
@use "../start-mixins" as mixins;

@mixin emit() {
    /*
        Fieldsets and legends can be difficult to style so I'm keeping their appearance basically the
        same as the default - just a bit of theming.
        More info here: https://thatemil.com/blog/2015/01/03/reset-your-fieldset/
    */
    #{cfg.base("namespace")}fieldset {
        min-width: 0;

        @include mixins.s__bordered(
            var(--fieldset-padding, var(--sz-m)),
            var(--fieldset-border-width, var(--base-border-width))
        );

        @include mixins.s__block_margins();
    }

    #{cfg.base("namespace")}fieldset fieldset {
        margin: 0;
        padding: 0;
        border-width: 0;
    }

    #{cfg.base("namespace")}fieldset fieldset::after {
        display: none;
    }
}