/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: legend
    v4.0.0
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

@use "../start-config" as cfg;

@mixin emit() {
    /*
        Fieldsets and legends can be difficult to style so I'm keep their appearance basically the same
        as the default - just a bit of theming.
        More info here: https://thatemil.com/blog/2015/01/03/reset-your-fieldset/
    */
    #{cfg.base("namespace")}legend {
        margin-block-end: calc(var(--base-rem-space-unit) * -1.5);

        padding-inline: var(--legend-inline-padding, var(--sz-xs));

        max-inline-size: 100%;

        border-width: var(--legend-border-width, var(--base-border-width));

        font-weight: bold;
    }
}