/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: main
    v4.0.0
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

@use "../start-config" as cfg;
@use "../start-mixins" as mixins;

@mixin emit() {
    #{cfg.base("namespace")}main {
        width: 100%;
        min-height: 100%;

        padding: var(--main-padding, var(--sz-m));

        --background-color: var(--main-background-color, var(--base-background-color));
        background-color: var(--background-color);

        position: relative;

        @if cfg.flags("use-layout") {
            flex: 1 0 auto;
        }

        @include mixins.s__block_margins();
    }
}