/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: optgroup
    v4.0.0
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

@use "../start-config" as cfg;
@use "../start-mixins" as mixins;

/*
    1. The default cannot safely be changed in Chrome and Safari on OS X. ?? Not sure what this means now.
*/
@mixin emit() {
    #{cfg.base("namespace")}optgroup {
        --background-color: var(--optgroup-color, var(--base-background-color));
        background-color: var(--background-color);

        font-weight: bold; /* [1] */
        font-style: inherit;
        font-size: inherit;
        font-family: inherit;

        &::before {
            padding-inline: var(--option-h-padding, #{cfg.elements("option-h-padding")});

            min-block-size: var(--base-rem-space-unit);
            line-height: var(--base-rem-space-unit);

            --background-color: var(--optgroup-label-color, var(--base-ui-color-lightest));
            background-color: var(--background-color);
        }

        & > option {
            margin-inline-start: calc(var(--option-h-padding, #{cfg.elements("option-h-padding")}) * 2);
        }
    }
}