/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: select
    v4.0.0
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

@use "../start-config" as cfg;
@use "../start-mixins" as mixins;

// N1: Address inconsistent `text-transform` inheritance for `select`.
// All other form control elements do not inherit `text-transform` values.
// Correct `select` style inheritance in Firefox.
/*
    1. Using height because min-height doesn't change the expand button height in FF.
    2. Remove the tapping delay from clickable elements.
*/
@mixin emit() {
    #{cfg.base("namespace")}select {
        height: calc(var(--sz-m) + var(--sz-xs)); /* [1] */
        min-height: auto;

        margin-block: var(--sz-xs);

        border-width: var(--select-border-width, var(--base-border-width));
        border-style: var(--select-border-style, var(--base-border-style));
        border-color: var(--select-border-color, var(--base-border-color));
        border-radius: var(--select-border-radius, var(--base-border-radius));


        font-weight: inherit;
        font-style: inherit;
        font-size: inherit;
        font-family: inherit;
        line-height: var(--base-line-height);

        vertical-align: middle;

        text-transform: none;

        cursor: pointer;

        touch-action: manipulation; /* [2] */
    }

    /*
        Make the arrow indicator the same across browsers.
    */
    #{cfg.base("namespace")}select:not([multiple]) {
        padding-inline: var(--select-inline-padding, var(--sz-xs));

        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4.95 10" fill="%23444"><polygon points="1.41 4.67 2.48 3.18 3.54 4.67 1.41 4.67"/><polygon points="3.54 5.33 2.48 6.82 1.41 5.33 3.54 5.33"/></svg>'); /* [2] */
        background-repeat: no-repeat;

        appearance: none;
    }

    /*
        1. Make sure focus is still visible in Forced Colour modes.
            (https://www.sarasoueidan.com/blog/focus-indicators/)
    */
    @if cfg.flags("use-focus-shadow") {
        #{cfg.base("namespace")}select:focus,
        #{cfg.base("namespace")}select:focus-visible {
            outline: 2px solid transparent; /* [1] */
            box-shadow: cfg.tokens("outline-shadow");
        }
    }

    /*
        Note that Opera 25- and Safari(all - 11 latest at time of writing) treat select [size]s of
        less than 4 as 4.
    */
    #{cfg.base("namespace")}select[multiple] {
        height: auto;
        vertical-align: top;

        margin-block-start: var(--sz-xsx);
        margin-inline: 0;
        margin-block-end: calc((var(--sz--xxs) * 3) - (var(--select-border-width, var(--base-border-width)) * 2));
    }

    /*
        Apply padding to fudge height in Safari (we need to apply to iOS)...
    */
    // _::-webkit-full-page-media, _:future, :root .selector { property:value; }
    // Safari 6.2,7.1+
    _::-webkit-full-page-media, _:future, :root select[multiple] {
        margin-block-end: 0;

        padding: calc(var(--base-rem-space-unit) / 12);
    }

    /*
        ... but reset for Mac Safari .
    */
    // _:-webkit-full-screen, _::-webkit-full-page-media, _:future, :root .selector { property:value; }
    // Safari 6.2,7.1+ (Not iOS)
    _:-webkit-full-screen, _::-webkit-full-page-media, _:future, :root select[multiple] {
        margin-block-end: calc((var(--base-rem-space-unit) / 8) * 3 - (var(--select-border-width, #{cfg.elements("select-border-width")}) * 2));

        padding: 0;
    }

    /*
        Various browsers do not allow <option>s height to be specified.
        The ones I've found are:

        * IE11-
        * Chrome 38-
        * Opera 24-

        MAYBE NOT FOR PRODUCTION?
        The following techniques are messy and break if the font-family or font size changes.
        Maybe move them to the test CSS only so I can see if OTHER elements are falling off the grid.
    */
    /* Individual height fixes moved to '_start-experimental.scss' */
}