/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: td
    v4.0.0
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

@use "../start-config" as cfg;
@use "../start-mixins" as mixins;

@mixin emit() {
    /*
        1. Calc to deduct any border-width.
    */
    #{cfg.base("namespace")}td {
        padding-block-start: calc(var(--td-cell-padding, var(--th-cell-padding)) - var(--td-border-width, var(--th-border-width)));  /* [1] */
        padding-block-end: var(--td-cell-padding, var(--th-cell-padding));
        padding-inline-start: var(--td-cell-padding, var(--th-cell-padding));
        padding-inline-end: var(--td-cell-padding, var(--th-cell-padding));

        border-width: var(--table-border-width, var(--base-border-width));
        border-style: var(--table-border-style, var(--base-border-style));
        border-color: var(--td-border-color, var(--table-color, var(--base-ui-color)));
    }

    /*
        Reduce last row table cell padding to counteract the table border to preserve the vertical
        rhythm.
    */
    #{cfg.base("namespace")}tbody tr:last-child td {
        padding-block-end: calc(var(--td-cell-padding, var(--th-cell-padding)) - var(--td-border-width, var(--th-border-width)));  /* [1] */
    }
}
