/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: dt
    v4.0.0
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

@use "../start-config" as cfg;

@mixin emit() {
    #{cfg.base("namespace")}dt {
        font-weight: bold;

        @if cfg.flags("space-dl-groups") {
            margin-block-start: var(--dl-group-space, var(--sz-m));

            &:first-child,
            & + & {
                margin-block-start: 0;
            }
        }
    }
}