/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: figcaption
    v4.0.0
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

@use "../start-config" as cfg;

@mixin emit() {
    #{cfg.base("namespace")}figcaption {
        --m: var(--sz-sm);

        font-size: 0.875em;

        margin-block-start: var(--sz-s);
        margin-block-end: 0;
    }
}