/*-------------------------------------------------------------------------------------------------|
    Fall-Back Start-CSS Element: h
|-------------------------------------------------------------------------------------------------*/

$h1-font-size: 52px / $flbk--base-font-size * 1em !default;
$h1-height:  $flbk--base-rem-space-unit * 2.5 !default;

$h2-font-size: 40px / $flbk--base-font-size * 1em !default;
$h2-height:  $flbk--base-rem-space-unit * 2 !default;

$h3-font-size: 30px / $flbk--base-font-size * 1em !default;
$h3-height:  $flbk--base-rem-space-unit * 1.5 !default;

$h4-font-size: 22px / $flbk--base-font-size * 1em !default;
$h4-height:  $flbk--base-rem-space-unit * 1.5 !default;

$h5-font-size: 18px / $flbk--base-font-size * 1em !default;
$h5-height:  $flbk--base-rem-space-unit !default;

$h6-font-size: 16px / $flbk--base-font-size * 1em !default;
$h6-height:  $flbk--base-rem-space-unit !default;


#{$namespace}h1 {
    margin-bottom: $flbk--base-rem-space-unit;

    font-size: $h1-font-size;
    line-height: $h1-height;
}

#{$namespace}h2 {
    margin-bottom: $flbk--base-rem-space-unit;

    font-size: $h2-font-size;
    line-height: $h2-height;
}

#{$namespace}h3 {
    margin-bottom: $flbk--base-rem-space-unit;

    font-size: $h3-font-size;
    line-height: $h3-height;
}

#{$namespace}h4 {
    margin-bottom: $flbk--base-rem-space-unit;

    font-size: $h4-font-size;
    line-height: $h4-height;
}

#{$namespace}h5 {
    margin-bottom: $flbk--base-rem-space-unit;

    font-size: $h5-font-size;
    line-height: $h5-height;
}

#{$namespace}h6 {
    margin-bottom: $flbk--base-rem-space-unit;

    font-size: $h6-font-size;
    line-height: $h6-height;
}
