/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: hr
    v4.0.0
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

@use "../start-config" as cfg;
@use "../start-mixins" as mixins;

@mixin emit() {
    /*
        1. Show the overflow in Edge and IE. (N)
    */
    #{cfg.base("namespace")}hr {
        position: relative;

        height: var(--sz-m);

        // Legacy: likely safe to remove.
        //overflow: visible; /* [1] */

        border: none;

        &::before {
            content: "";
            position: absolute;
            inset-block-start: calc(var(--sz-s) / 2);

            display: block;
            inline-size: 100%;
            block-size: 0;

            border-block-end-width: var(--hr-border-width, var(--base-border-width));
            border-block-end-style: var(--hr-border-style, var(--base-border-style));
            border-block-end-color: var(--hr-border-color, var(--base-border-color));
        }

        @include mixins.s__block_margins();
    }
}