/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: img
    v4.0.0
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

@use "../start-config" as cfg;

@mixin emit() {
    /*
        1. Fluid images for responsive purposes.
        2. Remove the border on images inside links in IE 10-.
        3. Offset `alt` text from surrounding copy.
        4. Setting `vertical-align` removes the whitespace that appears under `img` elements when they
           are dropped into a page as-is. Safer alternative to using `display: block;`.
        5. Google Maps breaks if `max-width: 100%` acts upon it; use their selector to remove the
           effects.
        6. If a `width` and/or `height` attribute have been explicitly defined, let's not make the
           image fluid.
    */
    #{cfg.base("namespace")}img {
        max-inline-size: 100%; /* [1] */
        block-size: auto; /* [1] */

        border-style: none; /* 2  */

        font-style: italic; /* [3] */

        vertical-align: var(
            --media-element-vertical-align,
            #{cfg.elements("media-element-vertical-align")}
        ); /* [4] */


        .gm-style & { /* [5] */
            max-inline-size: none;
        }
    }

    /*
        Special treatment for images inside links.
    */
    #{cfg.base("namespace")}a[href] img {
        border-inline-start: 0;
        border-inline-end: 0;
        border-block-start: 0;
        border-block-end: var(
            --anchor-image-line-width,
            #{cfg.elements("anchor-image-line-width")}
        ) var(
            --anchor-image-line-style,
            #{cfg.elements("anchor-image-line-style")}
        ) currentColor;

        /*
        &:active,
        &:hover {
            border-block-end: var(
                --anchor-image-line-width--alt,
                #{cfg.elements("anchor-image-line-width--alt")}
            ) solid transparent;
            padding-block-end: var(
                --anchor-image-padding-bottom--alt,
                #{cfg.elements("anchor-image-padding-bottom--alt")}
            );
        }
        */
        // We want to mimic link styles for consistency:
        &:active,
        &:hover {
            border-block-end: var(
                --anchor-image-line-width--alt,
                #{cfg.elements("anchor-image-line-width--alt")}
            ) var(
                --anchor-image-line-style--alt,
                #{cfg.elements("anchor-image-line-style--alt")}
            ) currentColor;
            padding-block-end: var(
                --anchor-image-padding-bottom--alt,
                #{cfg.elements("anchor-image-padding-bottom--alt")}
            );
        }


        /*
            1. Make sure focus is still visible in Forced Colour modes.
                (https://www.sarasoueidan.com/blog/focus-indicators/)
        */
        &:focus-within {
            outline: 2px solid transparent; /* [1] */
        }

        @if cfg.flags("use-focus-shadow") {
            &:focus-within {
                box-shadow: cfg.tokens("outline-shadow");
            }
        }
    }

    /*
        Here's a problem - if the image has a transparent background, the a's bounding box (which is
        inline and smaller than the image) is visible.
        Outlines actually work as expected in this case but I can't use them because of the lack of
        rounded corners, hence the a > img selector reapplying the focus shadow.
        I guess transparent images like this are an edge case, but it's something to keep an eye on.
    */


    /*
        Broken images could look much better if CSS could detect if they're broken.
        Sadly this isn't natively possible, but using JS onerror on all images can add an attribute
        we can use for styling.
    */
    #{cfg.base("namespace")}img[data-broken] {
        background-color: #ddd;
        outline: 2px solid transparent;
    }

}