/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: input
    v4.0.0
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

@use "../start-config" as cfg;
@use "../start-mixins" as mixins;

/*
    1. Allow inputs to contract to avoid braking containers:
    2. Opera Mini needs this.
    3. Remove the tapping delay from clickable elements (S)
    4. Keep adjacent elements in the middle.
    5. This helps prevent default 'normal' from increasing element height in webkit.
*/
@mixin emit() {
    #{cfg.base("namespace")}input {
        max-inline-size: 100%; /* [1] */

        padding-block-start: calc(var(--sz-xxs) - var(--input-border-width, var(--base-border-width))); /* [2] */
        padding-inline: var(--input-h-padding, var(--sz-xs));
        padding-block-end: calc(var(--sz-xxs) - var(--input-border-width, var(--base-border-width))); /* [2] */

        border-width: var(--input-border-width, var(--base-border-width));
        border-style: var(--input-border-style, var(--base-border-style));
        border-color: var(--input-border-color, var(--base-border-color));
        border-radius: var(--input-border-radius, var(--base-border-radius));

        //color: $s__input-text-color;
        background-color: var(--input-background-color, #fff);

        font-size: inherit; // S
        font-weight: inherit;
        font-style: inherit;
        font-family: inherit;

        //-ms-touch-action: manipulation; /* 3 (IE10) */
        touch-action: manipulation; /* [3] */

        vertical-align: middle; /* [4] */
        line-height: inherit; /* [5] */

        min-block-size: var(--input-min-height, #{cfg.elements("input-min-height")});
        margin-block: var(--sz-xxs);
        margin-inline: 0;
    }

    /*
        1. Make sure focus is still visible in Forced Colour modes.
           (https://www.sarasoueidan.com/blog/focus-indicators/)
    */
    #{cfg.base("namespace")}input:not([type]):focus,
    #{cfg.base("namespace")}[type="color"]:focus,
    #{cfg.base("namespace")}[type="date"]:focus,
    #{cfg.base("namespace")}[type="datetime"]:focus,
    #{cfg.base("namespace")}[type="datetime-local"]:focus,
    #{cfg.base("namespace")}[type="file"]:focus,
    #{cfg.base("namespace")}[type="month"]:focus,
    #{cfg.base("namespace")}[type="number"]:focus,
    #{cfg.base("namespace")}[type="password"]:focus,
    #{cfg.base("namespace")}[type="search"]:focus,
    #{cfg.base("namespace")}[type="range"]:focus,
    #{cfg.base("namespace")}[type="tel"]:focus,
    #{cfg.base("namespace")}[type="text"]:focus,
    #{cfg.base("namespace")}[type="time"]:focus,
    #{cfg.base("namespace")}[type="url"]:focus,
    #{cfg.base("namespace")}[type="week"]:focus,
    #{cfg.base("namespace")}input:not([type]):focus-visible,
    #{cfg.base("namespace")}[type="color"]:focus-visible,
    #{cfg.base("namespace")}[type="date"]:focus-visible,
    #{cfg.base("namespace")}[type="datetime"]:focus-visible,
    #{cfg.base("namespace")}[type="datetime-local"]:focus-visible,
    #{cfg.base("namespace")}[type="file"]:focus-visible,
    #{cfg.base("namespace")}[type="month"]:focus-visible,
    #{cfg.base("namespace")}[type="number"]:focus-visible,
    #{cfg.base("namespace")}[type="password"]:focus-visible,
    #{cfg.base("namespace")}[type="search"]:focus-visible,
    #{cfg.base("namespace")}[type="range"]:focus-visible,
    #{cfg.base("namespace")}[type="tel"]:focus-visible,
    #{cfg.base("namespace")}[type="text"]:focus-visible,
    #{cfg.base("namespace")}[type="time"]:focus-visible,
    #{cfg.base("namespace")}[type="url"]:focus-visible,
    #{cfg.base("namespace")}[type="week"]:focus-visible,
    #{cfg.base("namespace")}[type="checkbox"]:focus,
    #{cfg.base("namespace")}[type="radio"]:focus,
    #{cfg.base("namespace")}[type="checkbox"]:focus-visible,
    #{cfg.base("namespace")}[type="radio"]:focus-visible {
        outline: 2px solid transparent; /* [1] */
    }


    @if cfg.flags("use-focus-shadow") {
        #{cfg.base("namespace")}input:not([type]):focus,
        #{cfg.base("namespace")}[type="color"]:focus,
        #{cfg.base("namespace")}[type="date"]:focus,
        #{cfg.base("namespace")}[type="datetime"]:focus,
        #{cfg.base("namespace")}[type="datetime-local"]:focus,
        #{cfg.base("namespace")}[type="file"]:focus,
        #{cfg.base("namespace")}[type="month"]:focus,
        #{cfg.base("namespace")}[type="number"]:focus,
        #{cfg.base("namespace")}[type="password"]:focus,
        #{cfg.base("namespace")}[type="search"]:focus,
        #{cfg.base("namespace")}[type="range"]:focus,
        #{cfg.base("namespace")}[type="tel"]:focus,
        #{cfg.base("namespace")}[type="text"]:focus,
        #{cfg.base("namespace")}[type="time"]:focus,
        #{cfg.base("namespace")}[type="url"]:focus,
        #{cfg.base("namespace")}[type="week"]:focus,
        #{cfg.base("namespace")}input:not([type]):focus-visible,
        #{cfg.base("namespace")}[type="color"]:focus-visible,
        #{cfg.base("namespace")}[type="date"]:focus-visible,
        #{cfg.base("namespace")}[type="datetime"]:focus-visible,
        #{cfg.base("namespace")}[type="datetime-local"]:focus-visible,
        #{cfg.base("namespace")}[type="file"]:focus-visible,
        #{cfg.base("namespace")}[type="month"]:focus-visible,
        #{cfg.base("namespace")}[type="number"]:focus-visible,
        #{cfg.base("namespace")}[type="password"]:focus-visible,
        #{cfg.base("namespace")}[type="search"]:focus-visible,
        #{cfg.base("namespace")}[type="range"]:focus-visible,
        #{cfg.base("namespace")}[type="tel"]:focus-visible,
        #{cfg.base("namespace")}[type="text"]:focus-visible,
        #{cfg.base("namespace")}[type="time"]:focus-visible,
        #{cfg.base("namespace")}[type="url"]:focus-visible,
        #{cfg.base("namespace")}[type="week"]:focus-visible {
            box-shadow: cfg.tokens("outline-shadow");
        }

        /*
            Without custom styling (appearance: none), Safari doesn't apply the shadow, so breaks
            accessibility ...
        */
        #{cfg.base("namespace")}[type="checkbox"]:focus,
        #{cfg.base("namespace")}[type="radio"]:focus,
        #{cfg.base("namespace")}[type="checkbox"]:focus-visible,
        #{cfg.base("namespace")}[type="radio"]:focus-visible {
            box-shadow: cfg.tokens("outline-shadow");
        }

        /*
            ... so reinstating the outline:
        */
        // _::-webkit-full-page-media, _:future, :root .selector { property:value; }
        // Safari 6.2,7.1+

        _::-webkit-full-page-media, _:future, :root #{cfg.base("namespace")}[type="checkbox"]:focus,
        _::-webkit-full-page-media, _:future, :root #{cfg.base("namespace")}[type="radio"]:focus {
            outline: auto 5px -webkit-focus-ring-color;
        }
    }

    /*
        IE9 adds the border and background:
    */
    #{cfg.base("namespace")}[type="checkbox"],
    #{cfg.base("namespace")}[type="radio"] {
        border: 0;

        background: transparent;

        cursor: pointer;
    }

    #{cfg.base("namespace")}[type="button"],
    #{cfg.base("namespace")}[type="reset"],
    #{cfg.base("namespace")}[type="submit"] {
        @include mixins.s__button;
    }

    /*
        IE and Edge behave differently (both to other browsers and each other) and so min-height and
        line-height settings don't seem consistent.

        1. On smaller devices the width of these inputs can force horizontal scrolling.
           Max-width doesn't work to solve this, but may be needed to restrict width on larger screens.
        2. Make sure button corners aren't visible.
    */
    #{cfg.base("namespace")}[type="file"] {
        inline-size: 100%; /* [1] */

        @if cfg.elements("input-file-max-width") != false {
            max-inline-size: var(--input-file-max-width, 18.5em);
        }

        min-block-size: var(--input-min-height, #{cfg.elements("input-min-height")});

        overflow: hidden; /* [2] */

        margin: 0;
        padding: 0;

        cursor: pointer;
    }

    /*
        1. Spacing height + 2 sets of input padding, minus border width.
    */
    #{cfg.base("namespace")}[type="file"]::file-selector-button {
        @include mixins.s__button;
        //margin-inline-end: var(--sz-xs, #{cfg.tokens("sz-xs")});
        margin-block: 0;
        margin-inline-start: 0;
        margin-inline-end: var(--sz-xs);

        border-start-end-radius: 0;
        border-end-end-radius: 0;

        @supports (color: oklch(from red l c h)) {
            color: oklch(from var(--background-color) var(--l) 0 h / 0.9);
        }
    }

    #{cfg.base("namespace")}[type="file"]::-webkit-file-upload-button {
        @include mixins.s__button;
        //margin-inline-end: var(--sz-xs, #{cfg.tokens("sz-xs")});
        margin-block: 0;
        margin-inline-start: 0;
        margin-inline-end: var(--sz-xs);

        border-start-end-radius: 0;
        border-end-end-radius: 0;

        @supports (color: oklch(from red l c h)) {
            color: oklch(from var(--background-color) var(--l) 0 h / 0.9);
        }
    }

    // Unify color input appearance:
    // In FF (noticed in v 129) the coloured box for color inputs is 2px too high.
    #{cfg.base("namespace")}[type="color"] {
        inline-size: calc(var(--sz-m, #{cfg.tokens("sz-m")}) * 2);
        block-size: var(--input-min-height, #{cfg.elements("input-min-height")});
    }

    #{cfg.base("namespace")}[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    // Note these following two can't be combined or the webkit selector fails:
    #{cfg.base("namespace")}[type="color"]::-moz-color-swatch {
        border: 0 !important;
        border-radius: var(--button-border-radius, #{cfg.elements("button-border-radius")});
    }

    #{cfg.base("namespace")}[type="color"]::-webkit-color-swatch {
        border: 0 !important;
        border-radius: var(--button-border-radius, #{cfg.elements("button-border-radius")});
    }

    /*
        iOS turns these inputs into selects which are a touch too high.
    */
    #{cfg.base("namespace")}[type="date"],
    #{cfg.base("namespace")}[type="datetime-local"],
    #{cfg.base("namespace")}[type="month"],
    #{cfg.base("namespace")}[type="time"],
    #{cfg.base("namespace")}[type="week"] {
        block-size: calc(var(--base-rem-space-unit) + (var(--base-rem-space-unit) / 6));
    }

    /*
        Remove extra padding in Chrome
    */
    #{cfg.base("namespace")}[type="date"]::-webkit-datetime-edit-fields-wrapper,
    #{cfg.base("namespace")}[type="datetime-local"]::-webkit-datetime-edit-fields-wrapper,
    #{cfg.base("namespace")}[type="month"]::-webkit-datetime-edit-fields-wrapper,
    #{cfg.base("namespace")}[type="time"]::-webkit-datetime-edit-fields-wrapper,
    #{cfg.base("namespace")}[type="week"]::-webkit-datetime-edit-fields-wrapper {
        padding: 0;
    }

    /*
        Tidy spin buttons and apply cursor:
    */
    #{cfg.base("namespace")}[type="date"]::-webkit-inner-spin-button,
    #{cfg.base("namespace")}[type="datetime-local"]::-webkit-inner-spin-button,
    #{cfg.base("namespace")}[type="month"]::-webkit-inner-spin-button,
    #{cfg.base("namespace")}[type="number"]::-webkit-inner-spin-button,
    #{cfg.base("namespace")}[type="time"]::-webkit-inner-spin-button,
    #{cfg.base("namespace")}[type="week"]::-webkit-inner-spin-button {
        height: auto;
        cursor: pointer;
    }

    /**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
    #{cfg.base("namespace")}[type="search"] {
        -webkit-appearance: textfield; /* [1] */
    }

    /**
     * N: Remove the inner padding and cancel buttons in Chrome on OS X and
     * Safari on OS X.
     */
    #{cfg.base("namespace")}[type="search"]::-webkit-search-cancel-button,
    #{cfg.base("namespace")}[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

    /*
        Correct the text style on placeholders in Chrome, Edge, and Safari.
    */
    #{cfg.base("namespace")}::-webkit-input-placeholder {
        color: inherit;
        opacity: .54;
    }
}