/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: select
    v4.0.0
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

@use "../start-config" as cfg;
@use "../start-mixins" as mixins;

// N1: Address inconsistent `text-transform` inheritance for `select`.
// All other form control elements do not inherit `text-transform` values.
// Correct `select` style inheritance in Firefox.
/*
    1. Using height because min-height doesn't change the expand button height in FF.
    2. Remove the tapping delay from clickable elements.
*/
@mixin emit() {
    #{cfg.base("namespace")}select {
        height: calc(var(--sz-m) + var(--sz-xs)); /* [1] */
        min-height: auto;

        margin-block: var(--sz-xxs);

        border-width: var(--select-border-width);
        border-style: var(--select-border-style);
        border-color: var(--select-border-color);
        border-radius: var(--select-border-radius);


        font-weight: inherit;
        font-style: inherit;
        font-size: inherit;
        font-family: inherit;
        line-height: var(--base-line-height);

        vertical-align: middle;

        text-transform: none;

        cursor: pointer;

        touch-action: manipulation; /* [2] */

        /*
            1. Make sure focus is still visible in Forced Colour modes.
                (https://www.sarasoueidan.com/blog/focus-indicators/)
        */
        &:focus-within {
            outline: 2px solid transparent; /* [1] */
        }

        @if cfg.flags("use-focus-shadow") {
            &:focus-within {
                box-shadow: var(--outline-shadow);
            }
        }
    }

    /*
        1. Make the arrow indicator the same across browsers.
    */
    #{cfg.base("namespace")}select:not([multiple]) {
        padding-inline-start: var(--select-padding-inline-start);
        padding-inline-end: var(--select-padding-inline-end);

        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 10" fill="%23444"><polygon points="1.41 4.67 2.48 3.18 3.54 4.67 1.41 4.67"/><polygon points="3.54 5.33 2.48 6.82 1.41 5.33 3.54 5.33"/></svg>'); /* [1] */
        background-repeat: no-repeat;
        background-position:  calc(100% - var(--sz-xxs)) 0;

        appearance: none;
    }

    /*
        Note that Opera 25- and Safari(all - 11 latest at time of writing) treat select [size]s of
        less than 4 as 4.
        1. Multi-selects take the height of their options so need to use negative margin to offset
           border-width.
    */
    #{cfg.base("namespace")}select[multiple] {
        height: auto;
        vertical-align: top;

        margin-inline: 0;
        margin-block: calc(var(--select-border-width) * -1);
    }
}