/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: th
    v4.0.0
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

@use "../start-config" as cfg;
@use "../start-mixins" as mixins;

@mixin emit() {
    /*
        1. Calc to deduct any border-width.
    */
    #{cfg.base("namespace")}th {
        padding-block-start: calc(var(--th-cell-padding) - var(--th-border-width));  /* [1] */
        padding-block-end: var(--th-cell-padding);
        padding-inline-start: var(--th-cell-padding);
        padding-inline-end: var(--th-cell-padding);

        border-width: var(--table-border-width, var(--base-border-width));
        border-style: var(--table-border-style, var(--base-border-style));
        border-color: var(--th-border-color, var(--table-color, var(--base-ui-color)));

        --background-color: var(--th-color, var(--base-ui-color-lighter));
        background-color: var(--background-color);
    }

    /*
        Reduce last row table cell padding to counteract the table border to preserve the vertical
        rhythm.
    */
    #{cfg.base("namespace")}tbody tr:last-child th {
        padding-block-end: calc(var(--th-cell-padding) - var(--th-border-width));  /* [1] */
    }
}
