/*
    CSS only message
*/
body > div:first-child {
    display: none;
}


/*
    Sticky Footer 
*/
html,
body {
    height: 100%;
}


body {
    padding: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

body > * {
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}

/*
    Main should allow for full-width content, so move body colour here, remove max-width, and apply
    that to direct child (except div which we're using to demarcate full-width content)
*/
main {
    min-height: 0;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
            
    max-width: none;
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: #50514F;
}

main::before {
    content: "";
    display: block;
    width: 100%;
    max-width: 80rem;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    z-index: 0;
    left: calc(50% - 40rem);
    top: 0;
}

/*
    This is an exception to the 'no media queries.
    Through SASS it'll be calculated properly.
    Without it the background doesn't behave properly.
    Maybe if I can figure out a different way, I'll change this.
*/
@media (max-width: 50rem) {
    main::before {
        left: 0;
    }
}

main > * {
    background-color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 1;
}

main > *:not(div) {
    max-width: 80rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

/*
    If there's no main header - give the h1 some room:
*/
main > h1 {
    margin-top: 2.4rem;
}

body > header,
body > footer {
    margin: 0;
}

/**/

body > footer {
    font-size: 0.875em;
    text-align: center;
}


/*
    Inline elements
*/
img {
    width: 100%;
}


/*
    Greybox
*/

body > header,
body > footer {
    background: #eee;
}