---
title: Page Layout - Listing with Sidebars
layout: dev/structure--elementary
sidebar_top: true
sidebar_bottom: true
---

        <div>

            <header>
                <h1>{{ page.title }}</h1>
            </header>

            <p>This page shows both sidebars in place.</p>

            <ul>
                <li>
                    {% include card.html
                        title="Card Title"
                        hx="3"
                        content="<p>This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                        footer="<p>- by Some Author</p>"
                    %}
                </li>
                <li>
                    {% include card.html
                        title="Card Title Thing"
                        hx="3"
                        content="<p>This card tells you something else about something else. This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </li>
                <li>
                    {% include card.html
                        title="Card Title"
                        hx="3"
                        content="<p>This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                        footer="<p>- by Some Author</p>"
                    %}
                </li>
                <li>
                    {% include card.html
                        title="Longer Card Title"
                        hx="3"
                        content="<p>This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </li>
                <li>
                    {% include card.html
                        title="Card Title"
                        hx="3"
                        content="<p>This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </li>
                <li>
                    {% include card.html
                        title="Card Title"
                        hx="3"
                        content="<p>This card tells you something else about something else. <a href=\"#\">Thisisalinkonalongwordtoshowwrapping</a>. This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </li>
                <li>
                    {% include card.html
                        title="Card Title"
                        hx="3"
                        content="<p>This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                        footer="<p>- by Some Author</p>"
                    %}
                </li>
                <li>
                    {% include card.html
                        title="Card Longer Title"
                        hx="3"
                        content="<p>This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </li>
                <li>
                    {% include card.html
                        title="Card Longer Longer Title"
                        hx="3"
                        content="<p>This card tells you something else about something else. This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                        footer="<p>- by Some Author</p>"
                    %}
                </li>
                <li>
                    {% include card.html
                        title="Card Title"
                        hx="3"
                        content="<p>This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </li>
                <li>
                    {% include card.html
                        title="Card Title"
                        hx="3"
                        content="<p>This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </li>
                <li>
                    {% include card.html
                        title="Longer Longer Longer Longer Card Title"
                        hx="3"
                        content="<p>This card tells you something else about something else. This card tells you something else about something else. This card tells you something else about something else. This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </li>
                <li>
                    {% include card.html
                        title="Card Title"
                        hx="3"
                        content="<p>This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                        footer="<p>- by Some Author</p>"
                    %}
                </li>
                <li>
                    {% include card.html
                        title="Longer Card Title"
                        hx="3"
                        content="<p>This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </li>
                <li>
                    {% include card.html
                        title="Card Title"
                        hx="3"
                        content="<p>This card tells.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </li>
                <li>
                    {% include card.html
                        title="Card Longer Title"
                        hx="3"
                        content="<p>This card tells you something else about something else.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </li>
                <li>
                    {% include card.html
                        title="Longer Card Longer Longer Title"
                        hx="3"
                        content="<p>This tells you something.</p>"
                        cta_url="/components"
                        cta_text="Do a Thing"
                    %}
                </li>

            </ul>

        </div>
