/*-------------------------------------------------------------------------------------------------|

    Elementary base-project (Styleguide)


    Tokens for Elementary base-project.
    This file should be used as the starting point for an Elementary-based project. It should not be
    added to the Elementary library as a SASS file for inclusion as part of that library - though it
    can appear as an EXAMPLE file as part of the docs.

|-------------------------------------------------------------------------------------------------*/

@use "../start-css/scss/start-config" as cfg;
@use "settings" as project;

@use "mixins" as mixins;


@mixin emit() {
    :root {
        --body-background-color: var(--base-ui-color-light);
        --main-padding: 0;
        --main-background-color: #fff;

        /* @each $name, $settings in project.$colors {
            @include mixins.colour-output($name, $settings);
        }*/
    }

}