/*

*/
$f__base-font-family: 'Lato', sans-serif;

$f__root-font-size: 10px;

$f__experimental_checkradios: true;

$f__html-background-color: #50514F;


@import '../start-css/scss/_start_settings.scss';
@import '../start-css/scss/_start_functions.scss';
@import '../start-css/scss/_start_mixins.scss';
@import '../start-css/scss/_start.scss';


/*-------------------------------------------------------------------------------------------------|

    ACCESSIBILITY / ARIA

|-------------------------------------------------------------------------------------------------*/

@import '../start-css/scss/_start-accessibility.scss';


/*-------------------------------------------------------------------------------------------------|

    UTILITIES

-|------------------------------------------------------------------------------------------------*/

@import '../start-css/scss/_start-utilities.scss';


/*-------------------------------------------------------------------------------------------------|

    ICONS

-|------------------------------------------------------------------------------------------------*/

@import '../start-css/scss/_start-icons.scss';


/*-------------------------------------------------------------------------------------------------|

    EXPERIMENTAL

-|------------------------------------------------------------------------------------------------*/

@import '../start-css/scss/_start-experimental.scss';


/*-------------------------------------------------------------------------------------------------|

    ELEMENTARY

-|------------------------------------------------------------------------------------------------*/

@import 'scss/_0-elementary.scss';