---
layout: dev/structure
elementary: true
m3cut: true
startcss: false
head_stylesheets: ['/dev/elementary/css/elementary.css']
head_style: |
    #controls ~ * {
        display: none;
    }
body_end_script: |
    /* Quick toggler - rather verbose but works in old IE */

    function show_long_content () {
        var els = document.querySelectorAll("#controls ~ *");

        Array.prototype.forEach.call(els, function(el, i){
            el.style.display = 'block';
        });
    }

    function hide_long_content () {
        var els = document.querySelectorAll("#controls ~ *");

        Array.prototype.forEach.call(els, function(el, i){
            el.style.display = 'none';
        });
    }


    var el = document.getElementById("show");
    if (el) {
        if (el.addEventListener) {
            el.addEventListener("click", show_long_content, false);
        } else {
            el.attachEvent('onclick', show_long_content);
        }
    }

    var el = document.getElementById("hide");
    if (el) {
        if (el.addEventListener) {
            el.addEventListener("click", hide_long_content, false);
        } else {
            el.attachEvent('onclick', hide_long_content);
        }
    }

    var sidebar = document.getElementById("sidebar").innerHTML;

    function show_sidebar () {
        if (document.getElementById("sidebar")) {
            return;
        }
        var el = document.createElement('aside');
        el.id = 'sidebar';
        el.innerHTML = sidebar
        
        document.getElementById("main").insertAdjacentElement('afterend', el);
    }

    function hide_sidebar () {
        var el = document.getElementById("sidebar");
        
        if (!el) {
            return;
        }
        
        el.parentNode.removeChild(el);
    }

    var el = document.getElementById("show-sidebar");
    if (el) {
        if (el.addEventListener) {
            el.addEventListener("click", show_sidebar, false);
        } else {
            el.attachEvent('onclick', show_sidebar);
        }
    }

    var el = document.getElementById("hide-sidebar");
    if (el) {
        if (el.addEventListener) {
            el.addEventListener("click", hide_sidebar, false);
        } else {
            el.attachEvent('onclick', hide_sidebar);
        }
    }
---

    <header>
        <a href="/elementary">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 283.5" aria-labelledby="primary-logo-title" role="img" focussable="false" height="60" width="60">
                <title id="primary-logo-title">Elementary</title>
                <circle stroke="#fff" stroke-width="10" fill="transparent" cx="141.7" cy="141.7" r="134.6"/>
                <g>
                    <path fill="#fff" d="M100.5,118.5c-0.5,6.3-0.8,10.9-0.8,13.7c0,11.2,1.6,22.1,4.9,32.7c3.3,10.7,7.7,19.5,13.3,26.6
                        c5.8,7.2,12.9,12.8,21.4,17c8.5,4.1,17.4,6.2,26.8,6.2c6.9,0,13.5-1.2,19.7-3.5c6.2-2.3,11.4-5.5,15.5-9.6
                        c4.6-4.5,8.6-11.7,11.9-21.6l4,1.3c-3.3,15-10.5,26.4-21.5,34c-11,7.6-25.6,11.5-43.8,11.5c-15.8,0-29.3-2.5-40.6-7.5
                        c-11.3-5-20.9-12.7-28.7-23.1c-10.9-14.5-16.4-32.4-16.4-53.5c0-28.9,10.3-51.6,31-68c15-11.9,32.2-17.9,51.4-17.9
                        c10.3,0,19.8,1.8,28.5,5.5c8.7,3.7,16.1,9,22.2,15.9c9.4,10.8,14.1,24.3,14.1,40.4H100.5z M184.5,111c-0.9-12.8-3.3-22.7-7.1-29.7
                        c-3.5-6.3-8.1-11.3-13.8-14.9c-5.8-3.7-11.9-5.5-18.4-5.5c-11,0-20.6,4.8-28.9,14.3c-8.2,9.5-13.1,21.4-14.7,35.8H184.5z"/>
                </g>
            </svg>
        </a>
        <!--<p><a href="http://lab.gridlight-design.co.uk/fallback">Fallback experiments home</a></p>-->
        
        <nav aria-labelledby="primary-navigation">
            <b id="primary-navigation" hidden>Primary</b>
            <ul>
                <li>
                    {% include nav_item.html
                        href="components/"
                        text="Components"
                        current=true
                    %}
                </li>
                <li>
                    <a href="#">Somewhere</a>
                </li>
                <li>
                    <a href="#">A much longer link than the others</a>
                </li>
                <li>
                    <a href="#">Another link</a>
                </li>
            </ul>
        </nav>
        
    </header>

    <main id="main">
        {{ content }}
    </main>
    
    {% if page.sidebar %}
    <aside id="sidebar">
        <p>Could be anything here.</p>
    </aside>
    {% endif %}

    <footer>
        <p>
            <a href="#">Top</a>
        </p>
        <p>
            &copy; 2020 Andy Kirk
        </p>
    </footer>