<!doctype html>
<html lang="en-gb" class="" id="{{ page.title | slugify }}" data-elementary>
<head>
    {% capture ignore %}



    {% if layout.cut %}
        {% assign cut = layout.cut %}
    {% else %}
        {% assign cut = "original" %}
    {% endif %}

    {% assign cut_file = "cut_" | append: cut | append: ".html" %}

    {% if layout.ie11 %}
        {% assign ie11 = layout.ie11 %}
    {% else %}
        {% assign ie11 = false %}
    {% endif %}


    {% if layout.head_stylesheets.first and page.head_stylesheets.first %}
        {% assign head_stylesheets = layout.head_stylesheets | concat: page.head_stylesheets %}
    {% elsif layout.head_stylesheets.first %}
        {% assign head_stylesheets = layout.head_stylesheets %}
    {% elsif page.head_stylesheets.first %}
        {% assign head_stylesheets = page.head_stylesheets %}
    {% else %}
        {% assign head_stylesheets = false %}
    {% endif %}


    {% if layout.head_style != false and page.head_style != false %}
        {% assign head_style = layout.head_style | append: page.head_style %}
    {% elsif layout.head_style != false %}
        {% assign head_style = layout.head_style %}
    {% elsif page.head_style != false %}
        {% assign head_style = page.head_style %}
    {% else %}
        {% assign head_style = false %}
    {% endif %}


    {% if layout.head_scripts.first and page.head_scripts.first %}
        {% assign head_scripts = layout.head_scripts | concat: page.head_scripts %}
    {% elsif layout.head_scripts.first %}
        {% assign head_scripts = layout.head_scripts %}
    {% elsif page.head_scripts.first %}
        {% assign head_scripts = page.head_scripts %}
    {% else %}
        {% assign head_scripts = false %}
    {% endif %}


    {% if layout.body_class != false and page.body_class != false %}
        {% assign body_class = layout.body_class | append: page.body_class %}
    {% elsif layout.body_class != false %}
        {% assign body_class = layout.body_class %}
    {% elsif page.body_class != false %}
        {% assign body_class = page.body_class %}
    {% else %}
        {% assign body_class = false %}
    {% endif %}

    {% if layout.icons_file %}
        {% assign icons_file = layout.icons_file %}
    {% else %}
        {% assign icons_file = "start-icons.html" %}
    {% endif %}


    {% if layout.body_end_script != false and page.body_end_script != false %}
        {% assign body_end_script = layout.body_end_script | append: page.body_end_script %}
    {% elsif layout.body_end_script != false %}
        {% assign body_end_script = layout.body_end_script %}
    {% elsif page.body_end_script != false %}
        {% assign body_end_script = page.body_end_script %}
    {% else %}
        {% assign body_end_script = false %}
    {% endif %}
    {% endcapture %}<meta charset="utf-8">
    <title>{{ page.title }} | Fall-Back Development</title>

    <meta name="description" content="Fall-Back Developement">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Built with Jekyll and Fall-Back patterns -->

    {% if layout.base_href %}
    <base href="{{ layout.base_href }}">
    {% endif %}

    <!-- Ultra-light fallback styles for ancient browsers: -->
    <meta id="css_has_loaded">
    {% include tfs-1.html %}

    <!-- From here we're cutting off IE9- to stop all kinds of JS and CSS fails. -->
    <!--[if !IE]><!-->

    {% include tfs-2.html %}

    <!--
        Accessible font loading. FOUT is a lesser evil than FOIT.
        (https://keithclark.co.uk/articles/loading-css-without-blocking-render/)
    -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet" media="none" onload="if(media!='all')media='all'">

    {% if page.startcss != false and layout.startcss != false %}

    {% if page.start_version %}
        {% assign start_version = "/" | append: page.start_version | append: "/" %}
    {% else %}
        {% assign start_version = "/" %}
    {% endif %}
    {% assign start_path = "start-css" | append: start_version | append: "css/start.css" %}

    {% include {{ cut_file }} css=start_path %}
    {% include {{ cut_file }} css="start-css/testing.css" %}

    {% if ie11 != false %}
    <script>
        if (
            (!!window.MSInputMethodContext && !!document.documentMode)
         || (navigator.userAgent.indexOf('UCBrowser') > -1)
        ) {
            var link  = document.createElement('link');
            link.rel  = 'stylesheet';
            link.href = 'start-css/css/start.min.css';
            document.getElementsByTagName('head')[0].appendChild(link);
        }
    </script>
    <script>
        if (
            (!!window.MSInputMethodContext && !!document.documentMode)
         || (navigator.userAgent.indexOf('UCBrowser') > -1)
        ) {
            var link  = document.createElement('link');
            link.rel  = 'stylesheet';
            link.href = 'start-css/testing.css';
            document.getElementsByTagName('head')[0].appendChild(link);
        }
    </script>
    {% endif %}

    {% endif %}



    {% if page.startcss_alt == true or layout.startcss_alt == true %}

    {% include {{ cut_file }} css="start-css/css/start-alt.min.css" %}

    {% if ie11 != false %}
    <script>
        if (
            (!!window.MSInputMethodContext && !!document.documentMode)
         || (navigator.userAgent.indexOf('UCBrowser') > -1)
        ) {
            var link  = document.createElement('link');
            link.rel  = 'stylesheet';
            link.href = 'start-css/css/start-alt.min.css';
            document.getElementsByTagName('head')[0].appendChild(link);
        }
    </script>
    {% endif %}

    {% endif %}

    {% if head_stylesheets != false %}

    {% for stylesheet in head_stylesheets %}

    {% include {{ cut_file }} css=stylesheet %}


    {% if ie11 != false %}
    <script>
        if (
            (!!window.MSInputMethodContext && !!document.documentMode)
         || (navigator.userAgent.indexOf('UCBrowser') > -1)
        ) {
            var link  = document.createElement('link');
            link.rel  = 'stylesheet';
            link.href = '{{ stylesheet }}';
            document.getElementsByTagName('head')[0].appendChild(link);
        }
    </script>
    {% endif %}

    {% endfor %}

    {% endif %}


    {% if head_style != false %}
    <style>
    {{ head_style }}
    </style>
    {% endif %}



    {% if head_scripts != false %}
    {% for script in head_scripts %}
    <script src="{{ script }}"></script>
    {% endfor %}
    {% endif %}

    {% if page.load_highlighter or layout.load_highlighter %}
    {% include {{ cut_file }} css="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css" %}
    <style>
        /* Override hljs styles to reset to StartCSS: */
        .hljs {
            display: inline-block;
            overflow-x: auto;
            padding: 1.2rem;
            background: transparent;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    {% endif %}

    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script>
        document.createElement("article");
        document.createElement("aside");
        document.createElement("dialog");
        document.createElement("figcaption");
        document.createElement("figure");
        document.createElement("footer");
        document.createElement("header");
        document.createElement("hgroup");
        document.createElement("main");
        document.createElement("nav");
        document.createElement("section");
    </script>
    <![endif]-->

    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="FallBack" />
    <link rel="manifest" href="site.webmanifest" />

</head>
<body role="document"{% if page.body_class != false %} class="{{ page.body_class }}"{% endif %}>

    {% include {{ icons_file }} %}

    <div data-hidden="if-css">
        <fieldset role="presentation">
            <p>
                <strong>Notice:</strong> You are viewing an unstyled version of this page. Are you using an older browser? If so, <a href="https://browsehappy.com/?locale=en">please consider upgrading</a>
            </p>
        </fieldset>
    </div>

    {{ content }}


    <script>
    {% if page.load_highlighter or layout.load_highlighter %}
    hljs.initHighlightingOnLoad();
    {% endif %}

    {% if body_end_script != false %}
    {{ body_end_script }}
    {% endif %}
    </script>

</body>
</html>
