/*-------------------------------------------------------------------------------------------------|

    START-CSS ELEMENT: abbr
    v4.0.0
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

@use "../start-config" as cfg;

/*
    1. Remove the bottom border in Firefox 39-.
    2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/

@mixin emit() {
    #{cfg.base("namespace")}abbr {
        cursor: help;

        &[title] {
            border-bottom: none; /* [1 ]*/

            text-decoration: underline dotted; /* [2] */
        }
    }
}