/*-------------------------------------------------------------------------------------------------|

    START-CSS TOKENS
    ============================================================================================

    Assign custom properties to :root.

|-------------------------------------------------------------------------------------------------*/

@use "start-config" as cfg;

@property --background-color {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
}

@mixin emit() {
    :root {
        /*
            CORE SPACING
        */
        --base-rem-space-unit: #{cfg.tokens("base-rem-space-unit")};
        --body-min-width: #{cfg.elements("body-min-width")};
        --body-max-width: #{cfg.elements("body-max-width")};
        --body-padding: var(--base-rem-space-unit);
        --body-margin: #{cfg.elements("body-margin")};
        --list-indent: #{cfg.elements("list-indent")};

        // Global margin shortcut:
        --m: var(--base-rem-space-unit);

        /*
            CORE TYPOGRAPHY
        */
        --base-font-family: #{cfg.tokens("base-font-family")};
        --monospace-font-family: #{cfg.tokens("monospace-font-family")};

        /*--root-font-size: #{cfg.elements("root-font-size")};*/
        --root-font-size: #{cfg.elements("root-font-size")};
        --root-line-height: var(--base-rem-space-unit);
        --body-font-size: #{cfg.elements("body-font-size")};
        --small-font-size: #{cfg.elements("small-font-size")};

        /*
            CORE COLOURS
        */
        --base-ui-color: #{cfg.tokens("base-ui-color")};

        --ui-tone-light: #{cfg.ui("ui-tone-light")};
        --ui-tone-dark:  #{cfg.ui("ui-tone-dark")};
        --ui-chroma-scale-light: #{cfg.ui("ui-chroma-scale-light")};
        --ui-chroma-scale-dark:  #{cfg.ui("ui-chroma-scale-dark")};

        /* Light side */
        --base-ui-color-lightest: oklch(
            from var(--base-ui-color)
            calc(min(1, l + (1 - l) * (var(--ui-tone-light) * 3)))
            calc(c * (var(--ui-chroma-scale-light) * 0.8))
            h
        );

        --base-ui-color-lighter: oklch(
            from var(--base-ui-color)
            calc(min(1, l + (1 - l) * (var(--ui-tone-light) * 2)))
            calc(c * (var(--ui-chroma-scale-light) * 1.0))
            h
        );

        --base-ui-color-light: oklch(
            from var(--base-ui-color)
            calc(min(1, l + (1 - l) * (var(--ui-tone-light) * 1)))
            calc(c * (var(--ui-chroma-scale-light) * 1.2))
            h
        );

        /* Dark side */
        --base-ui-color-dark: oklch(
            from var(--base-ui-color)
            calc(max(0, l - l * (var(--ui-tone-dark) * 1)))
            calc(c * (var(--ui-chroma-scale-dark) * 1.0))
            h
        );

        --base-ui-color-darker: oklch(
            from var(--base-ui-color)
            calc(max(0, l - l * (var(--ui-tone-dark) * 2)))
            calc(c * (var(--ui-chroma-scale-dark) * 0.9))
            h
        );

        --base-ui-color-darkest: oklch(
            from var(--base-ui-color)
            calc(max(0, l - l * (var(--ui-tone-dark) * 3)))
            calc(c * (var(--ui-chroma-scale-dark) * 0.8))
            h
        );

        --base-background-color: #{cfg.tokens("base-background-color")};
        --base-text-color: #{cfg.tokens("base-text-color")};
        --base-text-color-inverse: #{cfg.tokens("base-text-color-inverse")};

        --background-color: var(--base-background-color);
        --color: var(--base-text-color);
        --color--inverse: var(--base-text-color-inverse);
        --base-ui-color--text: var(--color--inverse);


        /*
            CORE UI
        */
        --base-border-width: #{cfg.ui("border-width")};
        --base-border-style: #{cfg.ui("border-style")};
        --base-border-color: #{cfg.ui("border-color")};
        --base-border-radius: #{cfg.ui("border-radius")};


        /*
            AUTO TEXT CONTRAST
        */
        --l-threshold: 0.7;
        --l: clamp(
            0,
            (var(--l-threshold) - l) * infinity,
            1
        );


        /*
            SIZES
        */
        --sz-xxs: calc(var(--base-rem-space-unit) / 8);
        --sz-xs: calc(var(--base-rem-space-unit) / 4);
        --sz-s: calc(var(--base-rem-space-unit) / 2);
        --sz-m: var(--base-rem-space-unit);
        --sz-l: calc(var(--base-rem-space-unit) * 2);
        --sz-xl: calc(var(--base-rem-space-unit) * 4);
        --sz-xxl: calc(var(--base-rem-space-unit) * 8);


        /*
            HEADINGS
        */
        /*
        --h1-font-size-px: #{cfg.elements("h1-font-size-px")};
        --h2-font-size-px: #{cfg.elements("h2-font-size-px")};
        --h3-font-size-px: #{cfg.elements("h3-font-size-px")};
        --h4-font-size-px: #{cfg.elements("h4-font-size-px")};
        --h5-font-size-px: #{cfg.elements("h5-font-size-px")};
        --h6-font-size-px: #{cfg.elements("h6-font-size-px")};
        */

        --h1-font-size: #{cfg.elements("h1-font-size")};
        --h1-height: #{'round(up, var(--h1-font-size), var(--root-line-height) / 2)'};

        --h2-font-size: #{cfg.elements("h2-font-size")};
        --h2-height: #{'round(up, var(--h2-font-size), var(--root-line-height) / 2)'};

        --h3-font-size: #{cfg.elements("h3-font-size")};
        --h3-height: #{'round(up, var(--h3-font-size), var(--root-line-height) / 2)'};

        --h4-font-size: #{cfg.elements("h4-font-size")};
        --h4-height: #{'round(up, var(--h4-font-size), var(--root-line-height) / 2)'};

        --h5-font-size: #{cfg.elements("h5-font-size")};
        --h5-height: #{'round(up, var(--h5-font-size), var(--root-line-height) / 2)'};

        --h6-font-size: #{cfg.elements("h6-font-size")};
        --h6-height: #{'round(up, var(--h6-font-size), var(--root-line-height) / 2)'};


        /*
            SHARED ELEMENT VALUES
        */
        --media-element-vertical-align: #{cfg.elements("media-element-vertical-align")};
        --scrollbar-color-thumb: var(--base-ui-color-darker);
        --scrollbar-color-track: var(--base-ui-color-lighter);
        --scrollbar-size-legacy: var(--sz-m);


/*
            ANCHOR
        */
        @if cfg.overridden("elements", "anchor-text-color") {
            --anchor-text-color: #{cfg.elements("anchor-text-color")};
        } @else {
            --anchor-text-color: var(--base-text-color);
        }

        --anchor-text-color--alt: #{cfg.elements("anchor-text-color--alt")};
        --anchor-line-width: #{cfg.elements("anchor-line-width")};
        --anchor-line-style: #{cfg.elements("anchor-line-style")};
        --anchor-line-style--alt: #{cfg.elements("anchor-line-style--alt")};
        --anchor-image-line-width: #{cfg.elements("anchor-image-line-width")};
        --anchor-image-line-width--alt: #{cfg.elements("anchor-image-line-width--alt")};
        --anchor-image-line-style: #{cfg.elements("anchor-image-line-style")};
        --anchor-image-line-style--alt: #{cfg.elements("anchor-image-line-style--alt")};
        --anchor-image-padding-bottom: #{cfg.elements("anchor-image-padding-bottom")};
        --anchor-image-padding-bottom--alt: #{cfg.elements("anchor-image-padding-bottom--alt")};
        --anchor-external-link-indicator-padding: #{cfg.elements("anchor-external-link-indicator-padding")};


        /*
            ASIDE
        */
        --aside-padding: #{cfg.elements("aside-padding")};
        --aside-text-color: #{cfg.elements("aside-text-color")};
        --aside-background-color: #{cfg.elements("aside-background-color")};


        /*
            BLOCKQUOTE
        */
        --blockquote-inline-padding: #{cfg.elements("blockquote-inline-padding")};

        /*
            BUTTON
        */
        --button-inline-padding: #{cfg.elements("button-inline-padding")};
        --button-inline-padding: var(--button-inline-padding);

        --button-text-color: #{cfg.elements("button-text-color")};
        --button-background-color: #{cfg.elements("button-background-color")};
        --button-background-color--alt: #{cfg.elements("button-background-color--alt")};

        --button-border-color: #{cfg.elements("button-border-color")};
        --button-border-width: #{cfg.elements("button-border-width")};
        --button-border-style: #{cfg.elements("button-border-style")};
        --button-border-radius: #{cfg.elements("button-border-radius")};
        --button-min-height: #{cfg.elements("button-min-height")};


        /*
            CAPTION
        */
        /*--caption-padding: #{cfg.elements("caption-padding")};*/
        --caption-padding: var(--base-rem-space-unit);
        --caption-background-color: #{cfg.elements("caption-background-color")};


        /*
            DETAILS
        */
        @if cfg.overridden("elements", "details-border-width") {
            --details-border-width: #{cfg.elements("details-border-width")};
        } @else {
            --details-border-width: var(--base-border-width);
        }

        /*--details-padding: #{cfg.elements("details-padding")};*/
        --details-padding: var(--base-rem-space-unit);


        /*
            DL
        */
        --dl-group-space: #{cfg.elements("dl-group-space")};


        /*
            FIELDSET
        */
        @if cfg.overridden("elements", "fieldset-border-width") {
            --fieldset-border-width:
                #{cfg.elements("fieldset-border-width")};
        } @else {
            --fieldset-border-width: var(--base-border-width);
        }

        /*--fieldset-padding: #{cfg.elements("fieldset-padding")};*/
        --fieldset-padding: var(--base-rem-space-unit);


        /*
            FOOTER
        */
        /*--footer-padding: #{cfg.elements("footer-padding")};*/
        --footer-padding: var(--base-rem-space-unit);
        --footer-text-color: #{cfg.elements("footer-text-color")};
        --footer-background-color: #{cfg.elements("footer-background-color")};


        /*
            HEADER
        */
        /*--header-padding: #{cfg.elements("header-padding")};*/
        --header-padding: var(--base-rem-space-unit);
        --header-text-color: #{cfg.elements("header-text-color")};
        --header-background-color: #{cfg.elements("header-background-color")};


        /* HR */
        --hr-border-color: #{cfg.elements("hr-border-color")};
        --hr-border-width: #{cfg.elements("hr-border-width")};
        --hr-border-style: #{cfg.elements("hr-border-style")};


        /*
            INPUT
        */
        --input-inline-padding: #{cfg.elements("input-inline-padding")};
        --input-text-color: #{cfg.elements("input-text-color")};
        --input-background-color: #{cfg.elements("input-background-color")};

        --input-background-color--state-1: #{cfg.elements("input-background-color--state-1")};

        @if cfg.overridden("elements", "input-border-color") {
            --input-border-color: #{cfg.elements("input-border-color")};
        } @else {
            --input-border-color: var(--base-border-color);
        }

        @if cfg.overridden("elements", "input-border-width") {
            --input-border-width: #{cfg.elements("input-border-width")};
        } @else {
            --input-border-width: var(--base-border-width);
        }

        @if cfg.overridden("elements", "input-border-style") {
            --input-border-style: #{cfg.elements("input-border-style")};
        } @else {
            --input-border-style: var(--base-border-style);
        }

        @if cfg.overridden("elements", "input-border-radius") {
            --input-border-radius: #{cfg.elements("input-border-radius")};
        } @else {
            --input-border-radius: var(--base-border-radius);
        }

        --input-min-height: #{cfg.elements("input-min-height")};

        @if cfg.elements("input-file-max-width") != false {
            --input-file-max-width:
                #{cfg.elements("input-file-max-width")};
        }


        /*
            LABEL
        */
        /*--label-block-padding: #{cfg.elements("label-block-padding")};*/
        --label-block-padding: calc(var(--base-rem-space-unit) / 4);


        /*
            LEGEND
        */
        --legend-border-width: #{cfg.elements("legend-border-width")};
        --legend-inline-padding: #{cfg.elements("legend-inline-padding")};


        /*
            MAIN
        */
        /*--main-padding: #{cfg.elements("main-padding")};*/
        --main-padding: var(--base-rem-space-unit);
        --main-text-color: #{cfg.elements("main-text-color")};

        @if cfg.overridden("elements", "main-background-color") {
            --main-background-color: #{cfg.elements("main-background-color")};
        } @else {
            --main-background-color: var(--base-background-color);
        }

        /*
            MARK
        */
        --mark-border-width: #{cfg.elements("mark-border-width")};
        --mark-text-color: #{cfg.elements("mark-text-color")};


        /*
            OPTGROUP
        */
        --optgroup-background-color: #{cfg.elements("optgroup-background-color")};
        --optgroup-label-background-color: #{cfg.elements("opoptgrouption-background-color")};


        /*
            OPTION
        */
        --option-inline-padding: #{cfg.elements("option-inline-padding")};
        --option-background-color: #{cfg.elements("option-background-color")};
        --option-background-color-state-1: var(--base-ui-color-lighter);
        --option-background-color-state-2: var(--base-ui-color-darker);


        /*
            PRE
        */
        --pre-background-color: var(--base-ui-color-lighter);

        /*--pre-margin-bottom: #{cfg.elements("pre-margin-bottom")};*/
        --pre-margin-bottom: calc(var(--base-rem-space-unit) * 2 - 17px);

        /*--pre-margin-bottom--edge: #{cfg.elements("pre-margin-bottom--edge")};*/
        --pre-margin-bottom--edge: calc(var(--base-rem-space-unit) * 2 - 12px);

        /*--pre-margin-bottom--ff: #{cfg.elements("pre-margin-bottom--ff")};*/
        --pre-margin-bottom--ff: calc(var(--base-rem-space-unit) + 7px);

        /*--pre-padding-bottom: #{cfg.elements("pre-padding-bottom")};*/
        --pre-padding-bottom: calc(var(--base-rem-space-unit) - 15px);

        /*--pre-code-padding: #{cfg.elements("pre-code-padding")};*/
        --pre-code-padding: calc(var(--base-rem-space-unit) / 2);

        /*--pre-code-line-height: #{cfg.elements("pre-code-line-height")};*/
        --pre-code-line-height: var(--root-line-height);


        /*
            SELECT
        */
        --select-inline-padding: #{cfg.elements("select-inline-padding")};
        --select-text-color: #{cfg.elements("select-text-color")};
        --select-background-color: #{cfg.elements("select-background-color")};

        @if cfg.overridden("elements", "select-border-color") {
            --select-border-color: #{cfg.elements("select-border-color")};
        } @else {
            --select-border-color: var(--base-border-color);
        }

        @if cfg.overridden("elements", "select-border-width") {
            --select-border-width: #{cfg.elements("select-border-width")};
        } @else {
            --select-border-width: var(--base-border-width);
        }

        @if cfg.overridden("elements", "select-border-style") {
            --select-border-style: #{cfg.elements("select-border-style")};
        } @else {
            --select-border-style: var(--base-border-style);
        }

        @if cfg.overridden("elements", "select-border-radius") {
            --select-border-radius: #{cfg.elements("select-border-radius")};
        } @else {
            --select-border-radius: var(--base-border-radius);
        }


        /*
            TABLE

            Public hierarchy:

                --base-border-*
                    ↓
                --table-border-*
                    ↓
                --td-border-* / --th-border-*
        */
        @if cfg.overridden("elements", "table-border-width") {
            --table-border-width: #{cfg.elements("table-border-width")};
        } @else {
            --table-border-width: var(--base-border-width);
        }

        @if cfg.overridden("elements", "table-border-style") {
            --table-border-style: #{cfg.elements("table-border-style")};
        } @else {
            --table-border-style: var(--base-border-style);
        }

        @if cfg.overridden("elements", "table-border-color") {
            --table-border-color: #{cfg.elements("table-border-color")};
        } @else {
            --table-border-color: var(--base-border-color);
        }

        --table-background-color: #{cfg.elements("table-background-color")};


        /*
            TD
        */
        @if cfg.overridden("elements", "td-border-width") {
            --td-border-width: #{cfg.elements("td-border-width")};
        } @else {
            --td-border-width: var(--table-border-width);
        }

        @if cfg.overridden("elements", "td-border-style") {
            --td-border-style: #{cfg.elements("td-border-style")};
        } @else {
            --td-border-style: var(--table-border-style);
        }

        @if cfg.overridden("elements", "td-border-color") {
            --td-border-color: #{cfg.elements("td-border-color")};
        } @else {
            --td-border-color: var(--table-border-color);
        }

        --td-background-color: #{cfg.elements("td-background-color")};
        /*--td-cell-padding: #{cfg.elements("td-cell-padding")};*/
        --td-cell-padding: calc(var(--base-rem-space-unit) / 2);


        /*
            TEXTAREA
        */
        --textarea-inline-padding: #{cfg.elements("textarea-inline-padding")};
        --textarea-text-color: #{cfg.elements("textarea-text-color")};
        --textarea-background-color: #{cfg.elements("textarea-background-color")};

        @if cfg.overridden("elements", "textarea-border-color") {
            --textarea-border-color: #{cfg.elements("textarea-border-color")};
        } @else {
            --textarea-border-color: var(--base-border-color);
        }

        @if cfg.overridden("elements", "textarea-border-width") {
            --textarea-border-width: #{cfg.elements("textarea-border-width")};
        } @else {
            --textarea-border-width: var(--base-border-width);
        }

        @if cfg.overridden("elements", "textarea-border-style") {
            --textarea-border-style: #{cfg.elements("textarea-border-style")};
        } @else {
            --textarea-border-style: var(--base-border-style);
        }

        @if cfg.overridden("elements", "textarea-border-radius") {
            --textarea-border-radius: #{cfg.elements("textarea-border-radius")};
        } @else {
            --textarea-border-radius: var(--base-border-radius);
        }

        --textarea-resize: #{cfg.elements("textarea-resize")};


        /*
            TH
        */
        @if cfg.overridden("elements", "th-border-width") {
            --th-border-width: #{cfg.elements("th-border-width")};
        } @else {
            --th-border-width: var(--table-border-width);
        }

        @if cfg.overridden("elements", "th-border-style") {
            --th-border-style: #{cfg.elements("th-border-style")};
        } @else {
            --th-border-style: var(--table-border-style);
        }

        @if cfg.overridden("elements", "th-border-color") {
            --th-border-color: #{cfg.elements("th-border-color")};
        } @else {
            --th-border-color: var(--table-border-color);
        }

        --th-background-color: #{cfg.elements("th-background-color")};
        /*--th-cell-padding: #{cfg.elements("th-cell-padding")};*/
        --th-cell-padding: calc(var(--base-rem-space-unit) / 2);


        /*
            VIDEO
        */
        --video-background-color: #{cfg.elements("video-background-color")};
    }
}
