/*-------------------------------------------------------------------------------------------------|

    LOGO

|-------------------------------------------------------------------------------------------------*/

//#{$es__page_banner $es__page_banner__logo} {
#{$es__page_banner} #{$es__page_banner__logo} {
    display: inline-block;
    border: 0;
    padding: 0;
    margin: 0 $f__sz-m $f__sz-xs 0;
}

#{$es__page_banner} #{$es__page_banner__logo}:hover,
#{$es__page_banner} #{$es__page_banner__logo}:active,
#{$es__page_banner} #{$es__page_banner__logo}:focus {
    border: 0;
    padding: 0;

    @include e__ojbect_highlight();
}