/*-------------------------------------------------------------------------------------------------|

    LOGO
    ============================================================================================

|-------------------------------------------------------------------------------------------------*/

#{$es__page_banner__logo} {
    display: inline-block;

    /*margin: 0 $s__sz-m $s__sz-xs 0;

    padding: $s__sz-s $s__sz-s $s__sz-xs $s__sz-s;*/
    padding: 0;
    margin: $s__sz-s;

    border: 0;

    color: $s__anchor-text-color;
    background-color: transparent;
}

#{$es__page_banner__logo}:hover,
#{$es__page_banner__logo}:active,
#{$es__page_banner__logo}:focus {
    padding: 0;

    border: 0;

    @include e__ojbect_highlight();

    color: $s__anchor-text-color;
    background-color: transparent;
}