/*-------------------------------------------------------------------------------------------------|

    NAVBAR
    ======

|-------------------------------------------------------------------------------------------------*/

#{$es__page_banner__navbar} {
    margin: $f__sz-xs 0;
    flex: 1 1 auto;
}

#{$es__page_banner__navbar} > ul {
    margin: 0;
        
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
}

#{$es__page_banner__navbar} > ul li {
    margin: 0;
    padding: 0;

    flex: 0 0 auto;
}


#{$es__page_banner__navbar} > ul a[href] {
    display: block;
    margin: 0;
    padding-left: $e__nav-bar--spacing * 2;
    padding-right: $e__nav-bar--spacing * 2;
    padding-bottom: 0;
    padding-top: 0;

    border: 0;
    border-radius: $e__nav-bar__link--border-radius;
    line-height: $e__nav-bar--height;

    text-decoration: none;

    box-shadow: none; 
}


#{$es__page_banner__navbar} > ul a[href] {
    color: $e__nav-bar__link--color;
    background-color: $e__nav-bar__link--background-color;
}



#{$es__page_banner__navbar} > ul a[href]:hover,
#{$es__page_banner__navbar} > ul a[href]:active,
#{$es__page_banner__navbar} > ul a[href] [aria-expanded="true"] {
    color: $e__nav-bar__link--color--alt;
    background-color: $e__nav-bar__link--background-color--alt;
    border: 0;
}

#{$es__page_banner__navbar} > ul a[href]:focus {
    color: $e__nav-bar__link--color--alt;
    background-color: $e__nav-bar__link--background-color--alt2;
    border: 0;
    box-shadow: none;
}