/*-------------------------------------------------------------------------------------------------|

    CONTENT
    =======

    ```
    <main> <!-- OUTER WRAPPER -->
        <?> <!-- INNER WRAPPER [A] e.g. article or div -->
            <header>
                <h1>...</h1>
                ?...?
            </header>
        </?>
    </main>
    ```

|-------------------------------------------------------------------------------------------------*/

/*
    Content wrapper [A] could be anything (so far `article` or `div`): `#{$es__page_main} > * >.
    Inside the wrapper there should be `header` (see _1-header.scss).
    After the header} we want to give elements some side padding: `~ *`.
*/
#{$es__page_main__header} ~ * {
    padding-left: $f__sz-m;
    padding-right: $f__sz-m;
}


/*
    If the wrapper [A] is an article, the purpose is longform text [PAGE TYPE Article], so we want
    that to be easier to read, so add `max-width` and center it.

    1. Some items from StartCSS are `display: table` for other fixes. Because of that they're
       intrinsically sized so may not appear full width, and therefore look odd, so expand them.

*/
#{$es__page_main__header--article} ~ * {
    width: 100%; /* 1 */
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
}

/*
    We're using `div` (human semantic "divider") to break out of the `max-width`.
    Use for things like full width images, videos or figures.
*/
#{$es__page_main__header} ~ div {
    max-width: none;
    padding: 0;
    margin-bottom: $f__sz-m;
}

/*
    If the wrapper [A] is a `div` [PAGE TYPE Listing] we're saying we want `ul`s to be a
    gallery-style grid list of card-like object.
    Use for things like portfolio images or article cards.
*/
// See listing file


/*
    Inline elements
*/
#{$es__page_main} img {
    width: 100%;
}

