---
title: Elementary Components
layout: dev/structure--elementary
---

        <article>

            <header>
                <div>
                    <img src="/dev/elementary/img/federica-giusti-my6gx6s_Fr8-unsplash.jpg" alt="Edison bulb." width="500">
                    <small>
                        <details>
                            <summary><svg display="none" focusable="false" aria-hidden="true"><use xlink:href="#icon-info"></use></svg><svg display="none" focusable="false" aria-hidden="true"><use xlink:href="#icon-cross"></use></svg></summary>
                            <div><span>Photo by <a href="https://unsplash.com/@federicagiusti?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Federica Giusti</a> on <a href="https://unsplash.com/s/photos/edison-bulb?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></div>
                        </details>
                    </small>
                </div>
                <h1>{{ page.title }}</h1>
            </header>

            <figure>
                <details>
                    <summary>Semantics</summary>
                    <div>
                        <p>Some of these patterns make use of (abuse?) the vague semantics of <code>b</code> and <code>i</code> elements.</p>

                        <blockquote>
                            The i element represents a span of text in an alternate voice or mood, or otherwise offset from the normal prose in a manner indicating a different quality of text, such as a taxonomic designation, a technical term, an idiomatic phrase from another language, transliteration, a thought, or a ship name in Western texts.
                        </blockquote>

                        <blockquote>
                            The b element represents a span of text to which attention is being drawn for utilitarian purposes without conveying any extra importance and with no implication of an alternate voice or mood, such as key words in a document abstract, product names in a review, actionable words in interactive text-driven software, or an article lede.
                        </blockquote>

                        <p>In the context of images, the above <code>b</code> and <code>i</code> elements can really offer no spoken semantics so I'm re-purposing them to represent visual border and inset.</p>

                        <p>I make the argument that border around an image "draws attention for utilitarian purposes" and that an inset creates and "alternative mood" for those images.</p>
                    </div>
                </details>
            </figure>

            <h2 id="cards">Cards</h2>

            <div style="min-width: 50%; max-width: calc(100% - 4.8rem); width: calc((30em - 100%) * 9999)">
                {% include card.html
                    title="Sample Card"
                    hx="3"
                %}
            </div>

            <div style="min-width: 50%; max-width: calc(100% - 4.8rem); width: calc((30em - 100%) * 9999)">
                {% include card.html
                    title="Another Sample Card - this time with content"
                    hx="3"
                    content="<p>This card tells you something about something.</p>"
                %}
            </div>

            <div style="min-width: 50%; max-width: calc(100% - 4.8rem); width: calc((30em - 100%) * 9999)">
                {% include card.html
                    title="Another - with footer"
                    hx="3"
                    content="<p>This card tells you something else about something else.</p>"
                    footer="<p>- by Some Author</p>"
                %}
            </div>

            <div style="min-width: 50%; max-width: calc(100% - 4.8rem); width: calc((30em - 100%) * 9999)">
                {% include card.html
                    title="Again - this time with a CTA"
                    hx="3"
                    content="<p>This card tells you something else about something else.</p>"
                    cta_url="/components"
                    cta_text="Do a Thing"
                %}
            </div>

            <div style="min-width: 50%; max-width: calc(100% - 4.8rem); width: calc((30em - 100%) * 9999)">
                {% include card.html
                    title="This time with an Image"
                    hx="3"
                    content="<p>This card tells you something else about something else.</p>"
                    cta_url="/components"
                    cta_text="Do a Thing"
                    img_src="/dev/elementary/img/federica-giusti-my6gx6s_Fr8-unsplash.jpg"
                    img_alt="Edison bulb."
                %}
            </div>

            <div>
                <figure>
                    <details>
                        <summary>Code example</summary>
                        <pre></code>&lt;article&gt;
    &lt;span&gt;
        &lt;header&gt;
            &lt;div&gt;
                &lt;img src=&quot;/dev/elementary/img/sample-1.jpg&quot; alt=&quot;Cute kid - looks lost.&quot;&gt;
            &lt;/div&gt;
            &lt;h3&gt;This time with an Image&lt;/h3&gt;
        &lt;/header&gt;
        &lt;div&gt;
            &lt;p&gt;This card tells you something else about something else.&lt;/p&gt;
            &lt;p&gt;
                &lt;b&gt;&lt;a href=&quot;/components&quot;&gt;Do a Thing&lt;/a&gt;&lt;/b&gt;
            &lt;/p&gt;
        &lt;/div&gt;
        &lt;footer&gt;
            &lt;p&gt;- by Some Author&lt;/p&gt;
        &lt;/footer&gt;
    &lt;/span&gt;
&lt;/article&gt;</code></pre>
                    </details>
                </figure>
            </div>

            <h2 id="hero">Hero</h2>
            
            <p>See top of this page for an example of a hero image.</p>
            <p>Omit the <code>small > details</code> element if no info overlay is required.</p>
            
            <div>
                <figure>
                    <details>
                        <summary>Code example</summary>
                        <pre></code>&lt;header&gt;
    &lt;div&gt;
        &lt;img src=&quot;/dev/elementary/img/federica-giusti-my6gx6s_Fr8-unsplash.jpg&quot; alt=&quot;Edison bulb.&quot; width=&quot;500&quot;&gt;
        &lt;small&gt;
            &lt;details&gt;
                &lt;summary&gt;&lt;svg display=&quot;none&quot; focusable=&quot;false&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href=&quot;#icon-info&quot;&gt;&lt;/use&gt;&lt;/svg&gt;&lt;svg display=&quot;none&quot; focusable=&quot;false&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href=&quot;#icon-cross&quot;&gt;&lt;/use&gt;&lt;/svg&gt;&lt;/summary&gt;
                &lt;div&gt;&lt;span&gt;Photo by &lt;a href=&quot;https://unsplash.com/@federicagiusti?utm_source=unsplash&amp;amp;utm_medium=referral&amp;amp;utm_content=creditCopyText&quot;&gt;Federica Giusti&lt;/a&gt; on &lt;a href=&quot;https://unsplash.com/s/photos/edison-bulb?utm_source=unsplash&amp;amp;utm_medium=referral&amp;amp;utm_content=creditCopyText&quot;&gt;Unsplash&lt;/a&gt;&lt;/span&gt;&lt;/div&gt;
            &lt;/details&gt;
        &lt;/small&gt;
    &lt;/div&gt;
    &lt;h1&gt;{{ page.title }}&lt;/h1&gt;
&lt;/header&gt;</code></pre>
                    </details>
                </figure>
            </div>
            

            <h2 id="icons">Icons</h2>
            
            <p>Icons are a subset of <a href="https://feathericons.com/">Feather Icons</a> with the addition of a couple of custom ones.</p>
            <p>Add any other icons you want to use to the <code>svg</code> block after the body tag.</p>
            
            <p>
                <svg focusable="false" aria-hidden="true" width="20" height="20"><use xlink:href="#icon-building"></use></svg>
                <svg focusable="false" aria-hidden="true" width="20" height="20"><use xlink:href="#icon-calendar"></use></svg>
                <svg focusable="false" aria-hidden="true" width="20" height="20"><use xlink:href="#icon-chevron-down"></use></svg>
                <svg focusable="false" aria-hidden="true" width="20" height="20"><use xlink:href="#icon-chevron-up"></use></svg>
                <svg focusable="false" aria-hidden="true" width="20" height="20"><use xlink:href="#icon-chevron-left"></use></svg>
                <svg focusable="false" aria-hidden="true" width="20" height="20"><use xlink:href="#icon-chevron-right"></use></svg>
                <svg focusable="false" aria-hidden="true" width="20" height="20"><use xlink:href="#icon-cross"></use></svg>
                <svg focusable="false" aria-hidden="true" width="20" height="20"><use xlink:href="#icon-edit"></use></svg>
                <svg focusable="false" aria-hidden="true" width="20" height="20"><use xlink:href="#icon-email"></use></svg>
                <svg focusable="false" aria-hidden="true" width="20" height="20"><use xlink:href="#icon-facebook"></use></svg>
                <svg focusable="false" aria-hidden="true" width="20" height="20"><use xlink:href="#icon-fax"></use></svg>
                <svg focusable="false" aria-hidden="true" width="20" height="20"><use xlink:href="#icon-file"></use></svg>
                <svg focusable="false" aria-hidden="true" width="20" height="20"><use xlink:href="#icon-info"></use></svg>
                <svg focusable="false" aria-hidden="true" width="20" height="20"><use xlink:href="#icon-linkedin"></use></svg>
                <svg focusable="false" aria-hidden="true" width="20" height="20"><use xlink:href="#icon-info"></use></svg>
                <svg focusable="false" aria-hidden="true" width="20" height="20"><use xlink:href="#icon-menu"></use></svg>
                <svg focusable="false" aria-hidden="true" width="20" height="20"><use xlink:href="#icon-person"></use></svg>
                <svg focusable="false" aria-hidden="true" width="20" height="20"><use xlink:href="#icon-phone"></use></svg>
                <svg focusable="false" aria-hidden="true" width="20" height="20"><use xlink:href="#icon-rss"></use></svg>
                <svg focusable="false" aria-hidden="true" width="20" height="20"><use xlink:href="#icon-search"></use></svg>
                <svg focusable="false" aria-hidden="true" width="20" height="20"><use xlink:href="#icon-twitter"></use></svg>
            </p>
            
            <div>
                <figure>
                    <details>
                        <summary>Code example</summary>
                        <pre></code>&lt;svg focusable=&quot;false&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href=&quot;#icon-info&quot;&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
                    </details>
                </figure>
            </div>
            
            <p>
                <button><svg focusable="false" aria-hidden="true" width="20" height="20"><use xlink:href="#icon-search"></use></svg></button>
            </p>
            
            <h2 id="images">Images</h2>

            <h3>Plain image</h3>
            <p>
                <img src="/dev/elementary/img/natasha-kasim-pjjlY0Dz6z0-unsplash.jpg" alt="Edison bulb." width="200">
            </p>

            <h3>Bordered image</h3>
            <p>
                <b><img src="/dev/elementary/img/natasha-kasim-pjjlY0Dz6z0-unsplash.jpg" alt="Edison bulb." width="200"></b>
            </p>
            
            <h3>Bordered image with inset</h3>
            <p>
                <b><i><img src="/dev/elementary/img/natasha-kasim-pjjlY0Dz6z0-unsplash.jpg" alt="Edison bulb." width="200"></i></b>
            </p>

            <p>
                Note that there's no "Inset image without border" as this option didn't make much sense to me.
            </p>
            
            <p><small><span>Photo by <a href="https://unsplash.com/@natcatalyst?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Natasha Kasim</a> on <a href="https://unsplash.com/s/photos/edison-bulb?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></small></p>

            <div>
                <figure>
                    <details>
                        <summary>Code example</summary>
                        <pre></code>&lt;p&gt;
    &lt;b&gt;&lt;i&gt;&lt;img src=&quot;/dev/elementary/img/sample-1.jpg&quot; alt=&quot;Young child looking guilty or upset holding a magnifying glass.&quot; width=&quot;200&quot;&gt;&lt;/i&gt;&lt;/b&gt;
&lt;/p&gt;</code></pre>
                    </details>
                </figure>
            </div>
            
            <h3>Full-width Image</h3>
            <p>Place the image inside a <code>div</code> to make it full-width.</p>
            <div>
                <img src="/dev/elementary/img/federica-giusti-my6gx6s_Fr8-unsplash.jpg" alt="Edison bulb." width="200">
            </div>

        </article>
